

body { 
	font-family: @fontfamily; 
	font-weight: 300;
	/* fix uk-modal bei widgetkit */
	padding: 0px !important;
	margin: 0px !important;
	 }

h1, .h1	{ 
	font-family: 'Bebas Neue', Arial, sans-serif; 
	font-style: inherit;
	font-weight: 400;
}

h2, .h2  {
	font-family: 'Bebas Neue', Arial, sans-serif; 
	font-style: inherit;
	font-weight: 400;
}
.front h2 {
  font-size: 2.3rem;
}
.nofront .fc_item_title {
	font-family: @fontfamily; 
	font-style: inherit;
	font-weight: 500;
}
h3, .h3  {
	font-family: @fontfamily; 
	font-style: inherit;
	font-weight: 500;
}
h5, .h5  {}

.pagination {
	margin-top: 1em;
	width: 100%;
	max-width: 100%;
}
.page-item.active .page-link {
    background-color: @linkcolor;
    border-color: @linkcolor;
}
.page-link {
  background-color: var(--color-grau1, #fff);
}
@media (max-width: 450px) {
  .page-link {
    padding: .5rem;
  }
}
/* Widgetkit ------------------------------------------*/

a.uk-slidenav-contrast:link,
a.uk-slidenav-contrast:visited  { color: rgba(255,255,255,1); }

a.uk-slidenav-contrast:hover,
a.uk-slidenav-contrast:focus { color: rgba(255,255,255,0.7) ; }

/* Cards */

.card {
  background-color: var(--color-side, #fff);
  border: 1px solid var(--color-side, rgba(0,0,0,.125));
}
.card btn.active, 
.card .btn:hover, 
.card .btn:focus, 
.card .btn:active, 
.card button:active, 
.card .btn:not(:disabled):not(.disabled):active {
  color: var(--color-font, @default);
}
.card-header {
  background-color: var(--color-grau1, rgba(0,0,0,.03));
}
/* Bootrap 4 fix --------------------------------------*/

.img-responsive { 
	max-width: 100%;
	height: auto;
 }



/* flexbox klasse -----------------------------------*/

.flex-block-center {}
/* Fontsize Buttons ----------------------------------*/

.jfontsize {  }
.jfontsize a.btn { font-size: 14px; color: #FFFFFF;}
.jfontsize a.btn:hover,
.jfontsize a.btn:focus
 { color: #FFFFFF;}


/* Header                  --------------------------*/

	.header-top { 
		position: absolute; 
		width: 100%;
		z-index: 999;
		width: 100%;
	}

	#navigation-main .navbar { padding: 0px; }
	#navigation-main .navbar-brand {  width: 180px;   }

	/* icon barrierefrei navbar */
	.navbar-icon {  }
	.navbar-icon i { font-size: 30px;  }

	#logo {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    max-width: 200px;
	}

/* Header-middle ------------------------------------------------*/

	.header-middle,

	 { position: relative; }
	.header-middle #header-top-01 > .col-12

	 {
		position: static;
	}

	.custom-suche { 
		top: 1px;
		transition: top 0.5s ease-in-out;
	 }


/* Headering ----------------------------------------------------*/

	#headerimg {}

	#overlay_headerimg  {}
    
	#overlay_headerimg  > div {}

	#headerimg p,
	#headerimg h1,
	#headerimg h2,
	#headerimg h3,
	#headerimg h4 {}
	
	#headerimg h1,
	#headerimg h2,
	#headerimg h3 {}

	#left-fixed.wbc-fixed-sidebar {
		top: 20%;
	}

	#right-fixed.wbc-fixed-sidebar {
		top: 40%;
	}

    body.header-large #left-fixed {
		top: 40%;
	}

	.wbc-fixed-sidebar .nav-item > .bg-secondary { 
		background-color: transparent !important; 
	}

	.wbc-fixed-sidebar a.nav-link,
	.wbc-fixed-sidebar a.btn-icon.bg-secondary,
    #icon-left-search a.nav-link.bg-secondary
	 { 
		
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3rem;
		height: 3rem;

	 }

	.wbc-fixed-sidebar a.nav-link:hover,
	.wbc-fixed-sidebar a.nav-link:focus,
	.wbc-fixed-sidebar a.btn-icon.bg-hellblau:hover,
	.wbc-fixed-sidebar a.btn-icon.bg-secondary:focus,
	#icon-left-search a.nav-link:hover,
	#icon-left-search a.nav-link:focus
	 {}

	.wbc-fixed-sidebar-left .nav-item { margin-bottom: 0.5rem;}




/* Ende Header             -------------------------*/

/* Breadcrumb    -----------------------------------*/

#wrap-breadcrumb {}

.breadcrumb { 
	background-color: transparent; 
	padding-left: 0px;
	padding-right: 0px;
}



/*  Content                -------------------------*/

.main {}


/* Ende Content            -------------------------*/



/* Footer                  -------------------------*/

#wrap-footer {}
#footer-top {}
#footer-bottom {}

#bottom2 {

	p { 
		.white-trans (60);
		margin-bottom: .5rem; 

	}

	a:link,
	a:visited {
		.white-trans (60);
	}

	a:focus,
	a:hover {
		.white-trans (100);
	}

	a:active {
		.white-trans (50);
	}
	i { 
		width: 1.5rem; 
		padding-right: 5px;
		text-align: center;
		font-weight: 600;
	}

}

/* Ende Footer             -------------------------*/


a.link-more::after { 
	content: '\f054';
	font-family: 'FontAwesome';
	font-size: 1.2rem;
	display: inline-flex;	
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
 }
a.link-more:link,
a.link-more:visited { }

a.link-more:hover,
a.link-more:focus  {
	text-decoration: none;

  }

a.link-more:active { }

a.link-more:hover:after,
a.link-more:focus:after {}

a.wfpopup {
	display: inline-block;
}
/* Systemmeldungen --------------------------------------------------------*/

.alert { border-width: 3px; }

/* IconMoon */

.icon-calendar:before { 
    content: '\f073 ';
	font-family: 'FontAwesome';
 }


/** cookie Box GDPR Komponente ------------------------------------*/

.cc-floating {}

.cc-center {}
.cc-window .cc-message-text { display: inline-block; margin-bottom: .5rem; }

.cc-window .cc-cookie-settings-toggler { font-size: 0px !important; }
.cc-window .cc-cookie-settings-toggle {
	background-color: transparent !important;
	border: none !important;
	 }

.cc-window span.cc-message span.cc-cookie-settings-toggle {
    padding: 0;
    font-size: 1rem;
    border: none;   
    margin-top: 0px;
    text-decoration: underline;
}

.cc-window a:link:not(.btn),.cc-window a:visited:not(.btn) { color: white; }
.cc-window a:hover:not(.btn), .cc-window a:focus:not(.btn) { 
	text-decoration: none;
}

.cc-window .cc-settings-label { padding-bottom: 1rem; }


/*** cookie Checkboxen Style aendern ---------------------------------------------------------*/

input.cc-cookie-checkbox { min-height: 16px !important; }

.cc-window input.cc-cookie-checkbox + span::before { 
	border: none;
	/*background:	transparent;*/
	width: 18px;
	height: 18px;
}
.cc-window input.cc-cookie-checkbox + span::after {
    border: none;
    background-image: none;    
    width: 18px;
    height: 18px;
    top: -18px;
}

.cc-window div.cc-checkboxes-container.cc-checkboxes-filled input.cc-cookie-checkbox:checked + span::before, 
.cc-window div.cc-checkbox-container.cc-checkboxes-filled input.cc-cookie-checkbox:checked + span::after {
    
    transition: background-color .25s !important;
}

.cc-window .cc-cookie-checkbox { margin-left: 5px !important; }

.cc-window div.cc-checkbox-container:not(:last-child) a {
    border: none !important;
    padding-right: 2rem;
}

/******** ende Checkboxen -------------------------------------------------------------*/

.cc-window .cc-highlight .cc-btn:first-child:focus, 
.cc-window .cc-highlight .cc-btn:first-child:hover {
    text-decoration: none!important;
}

/* ===================================================================================
	MEDIA QUERIES OVERRIDES
	NOTE: The order of the media queries is important when styles overwrite each other
	================================================================================== */
@media (max-width: 480px) {


} 

@media (max-width: 575px) {
	#wrap-footer {
		padding: 20px 0;
		margin-bottom: 40px;
		.nav.menu.flex-column {
			flex-direction: row !important;
		}
	}
	#gototop-mobil > a {
		color: #fff;
	}
}

@media (max-width: 767px) {

	#wrap-footer {  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    
	.custom-suche { 
		.vertikal-zentriert-pos-abs;
		/* position: absolute;*/
		left: 70%;
		z-index: 99;
		padding-bottom: 80px;
	}
	
	/* suchen box animiert fährt nach links auf */
	/* joomla core search modul und flexicontent search */
	.custom-suche form {}
	.custom-suche .input-group-lg > .custom-select, 
	.custom-suche .input-group-lg > .form-control:not(textarea) {
   		height: calc(2rem + 1.3rem);
   		border-radius: 0;
   		border: none;
   		width: 0px;  
   		text-align: center;
		padding-left: 0px; 
		padding-right: 0px; 
		transition: width 0.5s ease-in-out; 

		}

	.custom-suche form > .search-group { 
		width: 20rem; 
		justify-content: flex-end;	
				}	

	
	.custom-suche .input-group-lg:hover input.form-control,
	.custom-suche .input-group-lg:focus input.form-control

	 	 { 
	   	    width: 12rem; 
	    	padding-left: 1rem; 
	    	padding-right: 1rem;
	   	}
	   
	 


	.custom-suche .btn, 
	.custom-suche .btn:link,
	.custom-suche .btn:visited 

	  { 
		background-color: #FFF;
		color: @color1;
		border: solid 4px transparent;
		width: 60px;
		.rounded-corners(0px);
	 }
	.custom-suche .btn:hover,
	.custom-suche .btn:focus 

	  { 
		background-color: #FFFFFF;
		color: @color1;
		border: solid 4px @color1;
	 }


	.custom-suche .btn .fa { 
		font-size: 2rem;
		
	 }

	.custom-suche input { } 

   
	/* buttons linke Seite fixiert */


	#left-fixed a.nav-link,
	#left-fixed a.btn-icon
	 { 
		height: 3rem;
		width: 3rem;
		text-decoration: none; 
	}

	#left-fixed a.nav-link:hover,
	#left-fixed a.btn-icon:hover,
	#left-fixed a.nav-link:focus,
	#left-fixed a.btn-icon:focus {
		text-decoration: none !important;
	}


    #left-fixed .slide-open  a.nav-link,
	#left-fixed .slide-open a.btn-icon {
		margin-left: auto;
		background-color: transparent !important;
		box-shadow: none;
	}
	
	.wbc-fixed-sidebar a.nav-link .fa {	 font-size: 1rem; }	

	.wbc-fixed-sidebar a.nav-link:hover .fa,
	.wbc-fixed-sidebar a.nav-link:focus .fa
	
	 {
	 	 transform: rotate( 1deg);
	 }	

	.wbc-fixed-sidebar a.nav-link .fa { 
		transform: rotate(-20deg); 
		transition: transform 0.5s ease-in-out;
	}	


	#fixed-sidebar-right-toggle .container-fix,
	#fixed-sidebar-left-toggle .container-fix
	 {
	 	display: none; 
		width: 400px;
		height: auto;			
		padding: 15px 10px 15px 10px;
		margin-top: -3rem;
		.background_white (100%);
		color: @default;
	 }

	#fixed-sidebar-right-toggle .container-fix .btn,
	#fixed-sidebar-left-toggle .container-fix .btn {
    .rounded-corners (0%);
    background-color: var(--color-bg, @color2);
    color: var(--color-font, #fff);
	}

	#fixed-sidebar-right-toggle .container-fix .badge,
	#fixed-sidebar-left-toggle .container-fix .badge {
		padding: 0px;
	}


	/** cookie Box GDPR Komponente ------------------------------------*/

	.cc-floating { max-width: 600px !important; }
	.cc-window {}
	.cc-center {
		width: 100%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		
		margin: 0px 0px 0px -300px !important; 
	}

	
}

@media (min-width: 1200px) {
	.sps--blw #logo {    width: 80%;    } /* logo beim scrollen der Seite */
	.wbc-fixed-sidebar a.nav-link, 
	.wbc-fixed-sidebar a.btn-icon.bg-secondary, 
	#icon-left-search a.nav-link.bg-secondary {
		height: 3rem;
		width: 3rem;
		min-width: 3rem;
	}
	.wbc-background-image-stretch {
    	min-height: 500px;
	}

}

@media ( min-width: 1500px ) {

	#navigation-main .navbar-brand {    width: 250px;  }

	#overlay_headerimg  > div {
	    padding: 2rem;
		
	}

	#wrap-footer { }


}
@media (min-width: 1400px) { 

	.container {}
}

@media (min-width: 1700px) {

	#logo {}

	.custom-suche { 
		/*top: 200px;*/
		left: 70%;
		
	}
	.custom-suche form > .search-group { 
		width: 30rem; 
			
		}	

	.custom-suche .input-group-lg > .custom-select, 
	.custom-suche .input-group-lg > .form-control:not(textarea) {
		
   		height: 5.2rem;
	}

	.custom-suche .input-group-lg:hover input.form-control,
	.custom-suche .input-group-lg:focus input.form-control

	 { 
    	width: 20rem;     	
   		 }

	.custom-suche .btn { 
		width: 100px; 
		padding: 0.5rem 1rem;
	}
	.custom-suche .btn .fa { 
		font-size: 4rem;
		
	 }

	
	/* buttons linke Seite fixiert */

	#left-fixed  a.nav-link,
	#left-fixed  a.btn-icon
	 { 
		height: 80px;
		width: 80px; 
	 }	


	#fixed-sidebar-right-toggle .container-fix,
	#fixed-sidebar-left-toggle .container-fix
	 {  
	 	margin-top: -80px;
	 }

	#left-fixed a.nav-link > .fa,
	#left-fixed a.btn-icon > .fa
	
	 {	 font-size: 2rem; }	
 		

    /*  ende buttons linke Seite */


 	.container {}

}

