/* CSS Custom Flexicontent */

/*@import "flexi_containers.less";
/*@import "flexi_frontend.less";*/


#flexicontent .flexi-field .label {
	font-weight: 500;
	display: inline-block;
}
#flexicontent .flexi-field .value { 
	display: inline-block;
}

/* kategorieinfos */

#flexicontent .catimg { float: none; text-align: center; }

#flexicontent .catimg img { 
	border: none;
	padding: 0;
	max-width: 100%;
	height: auto;
	border-radius: 0px;
	
 }

/* global Überschriften Flexicontent */

#flexicontent .cattitle { 
	font-family: @fontfamily;
	font-weight: 300; 
	margin-bottom: 1.5rem;
}

.nofront .cattitle {}

#flexicontent .fc_item_title, 
#flexicontent .fc_item_title a {
    
    font-family: @fontfamily;
    font-weight: 300;
    color: var(--color-font, @color2);
}
.front #flexicontent .fc_item_title, 
.front #flexicontent .fc_item_title a
{

	font-family: 'Bebas Neue', Arial, sans-serif; 
	font-style: inherit;
	font-weight: inherit;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 400;
	color: @h2_color;
}

.front #flexicontent .background-primary,
.front #flexicontent .background-secondary {
	background-color: transparent;
} 

#flexicontent .background-primary,
#flexicontent .background-secondary {
	background-color: var(--color-side, rgba(255,255,255,0.6));
}

/* Suche und Filter Feder innerhalb der Kategorie */
.select2-container .select2-choice {
   
    height: 36px;
    line-height: 36px;
    border-radius: 0px;
}

.select2-container .select2-choice .select2-arrow {
    
    border-radius: 0px ;
}

.select2-container .select2-choice {
	background-image: none;
}

.fc_field_filter label, .flexicontent .fc_field_filter {
    font-size: inherit;
}


fieldset.fc_search_set, fieldset.fc_filter_set {
  display: flex;
  flex-wrap: wrap;
	align-items: center;
}

#fc_filter_form_blocker { position: absolute; left: -99999; height: 0px; overflow: hidden;}

#flexicontent .lineinfo { 
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
 }


hr.fcclearline {
    border: 0;
    height: 0px;
    background-image: transparent;
    margin:0;
}
.flexi-itemlist {
	.panel {
		padding: 1em;
	}
}
#flexicontent .fc_block {
	margin-bottom: 5px;
}

#flexicontent .item_total {
    border: none; 
    padding-left: 0px;
    padding-right: 0px;
}
#flexicontent .item_total .fc_limit_box, 
#flexicontent .item_total .fc_orderby_box, 
#flexicontent .item_total .fc_clayout_box {
    margin-left: 0px;
}

/* Flexicontent Bilder und Galerie Standard */

#flexicontent .images,
#flexicontent .value_wk_galerie
 {
	display: flex !important;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center ;
}

#flexicontent .images .wbc-image-field,
#flexicontent .value_wk_galerie .wbc-image-field {

	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	width: 100%;
	padding-right: 20px;
	padding-bottom: 20px;
}


/* Flexicontent Bilder Default Styles override -------------- */

#flexicontent .fc_image_thumb { float: none; display: inline-block;}
#flexicontent img.fc_field_image
 {
    display: block;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    width: auto!important;
    border-radius: 0px;
    float: none;
    clear: both;
}

/* Bildbeschreibungen Standard Bildfeld Flexicontent */

#flexicontent .fc_img_tooltip_data {
	background-color: transparent !important;
	color: @default!important;
	border: none!important;
	font-size: 0.9rem;
	display: inline-block;
	text-align: center;
	padding: 0px;
	clear: both;
}

#flexicontent .fc_img_tooltip_title { font-weight: 500 !important; line-height:1.2rem !important;}


/***************/
/* Alpha Index */
/***************/

/* Top Container */
#fc_alpha {
	clear: both;
	float: left;
	margin: 12px 0 12px 0;
	overflow: hidden;
	width: 100%;
}

/* A group of alpha-index character elements */
#fc_alpha .aichargrp {
	clear: both;
	float: left;
	left: 50%;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* Default groups of  alpha-index character elements */
#fc_alpha .letters, #fc_alpha .numbers {
}

/* An enabled individual alpha-index character element */
#fc_alpha .fc_alpha_index {
	float: left;
	margin-right: 2px;
	padding: 6px;
	position: relative;
	right: 50%;
  text-decoration: none;
  background-color:var(--color-grau1, #efefef);
}

/* A disabled individual alpha-index character element */
#fc_alpha span.fc_alpha_index {
	
}

/* Seperator */
#fc_alpha .fc_alpha_index_sep {
	background: none;
	border: 0px;
	border-radius: @borderradius;
	float: left;
	margin-right: 0px;
	padding: 1px 0px;
	position: relative;
	right: 50%;
	text-decoration: none;
}

/* The active (selected) individual alpha-index character element */
#fc_alpha .fc_alpha_index.current {
	margin-left: 12px;
	margin-right: 12px;
	color: darkred;
}

/* Flexicontent Filters -----------------*/

.fc_filter_html {
  display: flex;
  flex-wrap: wrap;
}
.fc_filter_html .input-append,
.fc_filter_html .input-prepend {
  display: flex;
}

#flexicontent .fc_filter_box input,
#flexicontent .fc_filter_box select,
#flexicontent .fc_orderby_selector select,
#flexicontent .fc_limit_selector select

{      
  display: block;
  width: 100%;
  height: 2.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: @default;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid @bordercolor;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#flexicontent .fc_filter_box input:focus,
#flexicontent .fc_filter_box select:focus,
#flexicontent .fc_orderby_selector select:focus,
#flexicontent .fc_limit_selector select:focus

{ 
	background-color: #fff;
	border-color: @grau_3;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}  

#flexicontent aside .item_total {}
#flexicontent aside .pagination { display: none; }
#flexicontent .fc_pages_counter { display: block; text-align: center; }
#flexicontent .fc_pages_counter > .label { font-size: 12px; font-weight: 400 !important; }

body .fc-nowrap-box, 
#flexicontent .nowrap_box, 
.flexicontent .nowrap_box {
   
    display: block;
} 


/* Buttons Edit / State /   *****/

.adminbuttons,
.admin-button
 { 
	.wbc-flex; 
	justify-content: flex-end;
}
.adminbuttons a.btn:link,
.adminbuttons a.btn:visited,
.admin-button a.btn:link,
.admin-button a.btn:visited
 {
	
	padding: 3px 10px !important;
	display: inline-block;
	.rounded-corners;
	font-size: 0.9rem;
	font-weight: 400 !important;
	margin-right: 10px;
}


/* suchen seite --------------------------------*/


fieldset.fc_search_set,    /* SEARCH view */
fieldset.fc_filter_set {   /* CATEGORY view */
	border: none;
}
.fcsearch {}
.fcsearch .fc_search_set {  }
.fcsearch .fc_search_set legend { display: none;  }
.flexicontent.fcsearch table.fc_search_tbl .fc_search_row_0 td {
    background-color: @grau_01;
 }

.flexicontent.fcsearch table.fc_search_tbl .fc_search_option_cell {
    padding: 1.5rem;
   
}
.flexicontent .input-append .button_go {margin-left: -4px;}

/* suchergebnis --------------------------------*/

.fc_search_results_list {}
.fc_search_result_title {
	text-transform: none;
	font-size: 1.2rem;
	line-height: 1.4rem;
	font-weight: 400;
}
.fc_search_results_list  .fcfile_viewFile { display: none; }
body .fc-mssg-inline.fc-info, body .fc-mssg.fc-info {
    background-color:@grau_2;
    
	border-color:@grau_5;
    border-left-color: @grau_5;
	border-left: 10px solid @grau_2;
}
.fc_search_result_text { 
	font-size: 1rem;
	line-height: 1.7rem;
	font-weight: inherit;
	margin-top:1rem;	
 }

.flexicontent.fcsearch .highlight {
    background: none repeat scroll 0 0 @grau_2;
	border-radius: 5px;
	color:    @color1;
    font-weight: normal;
    padding: 3px 5px;
}
.flexicontent.fcsearch fieldset.fc_search_result:hover {
    border: 2px dotted @color1;
}

#flexicontent .fceven {
    background-color: @grau_01;    
}
#flexicontent .fcodd {
    background-color: #FFFFFF;
}

/* Flexicontent Modul */


.fcitem_text { 
	color: var(--color-font, @default);
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 300;
}

.fcitem_readon a:link,
.fcitem_readon a:visited {
	color: var(--color-font, @default);
  background-color: transparent;
	padding: 5px;
  border: solid 2px var(--color-font, @color6);
  border-radius: 20px;
}
.fcitem_readon a:hover,
.fcitem_readon a:focus {
 	color: white;
  background-color: @color1;
  border: solid 1px @color1;
 	text-decoration: none;
}
.fcitem_readon a:active {}

/*  Feld Fotogalerie widgetkit -------------------------------*/



.wbc-galerie { 
	width: 100%;
	float: none;
	clear: both;
	margin-top: 3rem;
	margin-bottom: 3rem;
	 

		 img,
		.uk-overlay img.uk-overlay-scale 
		 { max-width: 100%; height: auto;}


		.uk-panel h3,
		.uk-panel h2,
		.uk-panel h4 {
			 font-size: 0.9rem; 
		}

		.uk-panel-teaser { margin-bottom: 5px; text-align: center;}
}

/*-----------------------------*/


/****   Felder ***************************************/

div.fc-fieldgrp-value-box {

	border: none;
	padding: 0px;
	margin: 2rem 0px 0px 0px;
}


/* Custom Felder in der Kategorieansicht --------------------------------------*/

#flexicontent .label { 
	font-weight: 500; 
	margin:  0 0.5rem 0 0;
	display: inline-block;	
	width: auto;
	max-width: 100%;
	 }

.field_funktion1,
.flexi-name,
.field_fachbereich_1

 { font-weight: 500; }

.flexi { clear: both; }

.field_prename_1,.field_name_1,
.field_prename_2,.field_name_2,
.field_name1, .field_prename1
  {
	padding-right: 5px !important;
	float:left;
	clear: none !important;
	width: auto!important;
	display:inline-block;
	font-weight: 500;
	 }

.flexi-name div {	font-weight: 500 !important;}

.field_plz, .field_ort, 
.field_plz_1, .field_ort_1, 
.field_ort_3,
.field_ortsteil_auswahl, 
.field_plz_2, .field_ortsteil_auswahl2,
.field_ortsteil_auswahl1,
.field_ortsteil_auswahl_einrichtung, 
.field_ortsteil_auswahl_ansprechpartner,
.field_ortsteil_buergerhaus,
.field_stadtteil

 { 
	width: auto !important; 
	display: inline-block !important; 
	margin-right: 5px !important; }

.field_ortsteil_auswahl1
{
	margin-left: -10px;
}
.value_plz, .value_ort, .value_plz_1, .value_ort_1, .value_plz_2, .value_ort_2, .value_ort_3,
.value_ortsteil_auswahl, .value_ortsteil_auswahl2, .value_ortsteil_auswahl1, .value_stadtteil,
.value_ortsteil_auswahl_ansprechpartner,
.value_ortsteil_buergerhaus,
.value_name2, .value_prename2,
.value_name1, .value_prename1
{ 
	float: left !important;
	display: inline!important; 
	width: auto!important; 
}

.value_ort, 
.value_ort_2, 
.value_ort_1, 
.value_ort_3,
.value_ortsteil_auswahl,
.value_ortsteil_auswahl1,
.value_ortsteil_auswahl2,
.value_ortsteil_auswahl_ansprechpartner,
.value_stadtteil
 {
	margin-left: 5px;
} 
.field_plz, .field_plz_2, .field_plz_1 { clear: left;}


.field_pfarrer_1 .value, 
.field_funktion_1 .value, 
.field_funktion_1b .value, 
.field_name_1 .value, 
.field_prename_1 .value, 
.field_prename_2 .value, 
.field_name_2 .value,
.field_praxisbezeichnung_1 .value,
.field_namekita1 .value


 { font-weight: 500 !important; }

.field_praxisbezeichnung_1 .value,
.field_namekita1 .value
{}


.field_downloads_1 { 
	display: flex;
	flex-direction: column;
}
.field_downloads_1 .download-line {
	display: flex;
    align-items: center;
	width: 100%;
}
.fcfile_actions span.fcfile_mime,
.fcfile_actions span.fcfile_title,
.fcfile_actions span.fcfile_size
 { 
 	display: inline-block; 
 	padding-right: 0.5rem;
	
  }


/***  download Fields Buttons ***/

.fcfile_actions { display: flex; }
.fcfile_actions > a { width: auto !important; padding-right: 1rem; }
.fcfile_actions br {display: none;}

.fcfile_actions .fc_button { 	
    background-color: @grau_2 !important;
	color: @grau_8 !important;
	font-size: 0.9rem;
}
.fcfile_actions .fc_button:hover { 	
    background-color:  @color1 !important;
	color: #FFF !important;
	text-decoration:none;
}
a.fcfile_downloadFile  { 
    display: inline-block;
    margin-right: 5px;
	}

a.fcfile_viewFile  {
    display: inline-block;
	white-space: nowrap;
	margin-right: 5px;
}

a.fcfile_shareFile  {
    display: inline-block;
	white-space: nowrap;
	margin-right: 5px;
	 }

a.fcfile_viewFile,
a.fcfile_shareFile 
  {
	/*width: 20% !important;
	float:right;*/
	font-size: 0.9rem;
	white-space: nowrap;
	text-align: right;
	padding:  3px 8px; 
	border-radius: 0px;
	color: @grau_5!important;
	background-color: transparent;
	border: 1px solid @grau_5;
}

a.fcfile_viewFile:hover,
a.fcfile_shareFile:hover,
a.fcfile_viewFile:focus,
a.fcfile_shareFile:focus {
	text-decoration: none;
	background-color: @grau_2;
	color: @grau_8 !important;
}



.fcfile_downloadFile:after  {content: "\f019"; padding-left: 5px;  font-family: 'FontAwesome';}
.fcfile_viewFile:after  {content: "\f06e"; padding-left: 5px;  font-family: 'FontAwesome'; }
.fcfile_shareFile:after  {content: "\f045"; padding-left: 5px;  font-family: 'FontAwesome'; }
.fcfile_descr_inline.alert {
	background-color: transparent !important;
	border: none !important;
	color: @default !important;
	padding: 0px !important;
}


/*------------------- wbc tabs -------------------------------------*/

.wbc-tabs {
	margin: 2rem 0 3rem 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 200px;
}



.wbc-tabs .nav-tabs { border: none; }
.wbc-tabs .tab-content {}

.wbc-tabs  li > .nav-link:link,
.wbc-tabs  li > .nav-link:visited
 { 
	color: @grau_8;
	border-radius: 0px;
	background-color: #FFFFFF;
	font-weight: 500;
	font-size: 0.9rem;
	border: solid 1px @grau_01;
 }

.wbc-tabs  li { margin-left: 0px; margin-right: 10px; margin-top: 10px;}


.wbc-tabs  li > .nav-link:focus,
.wbc-tabs  li > .nav-link:hover,
.wbc-tabs  li > .nav-link.active:focus,
.wbc-tabs  li > .nav-link.active:hover
	{ 
	background-color: @primary_color_hover; 
	border-color:  @primary_color_hover;
	color: white;
	}

.wbc-tabs  li > .nav-link.active

	{ 
	background-color: @primary_color; 
	border-color: @primary_color;
	color: white;
	}
	


.wbc-tabs .tab-content {
	min-height: 10rem;
	padding-left: 0px;
	padding-right: 0px;
	}

@media ( max-width: 415px) {

	.wbc-tabs .nav-item { 
		display: block;
		width: 100%;
		
		.wbc-tabs  .nav-link { 
			
			padding: .3rem .5rem;
		 }
	}
}

/* field galerie wk_galerie */

.field_wk_galerie .overlay { height: 0px; overflow: hidden; }


@media (max-width: 769px ) {

	#flexicontent .fc_search_label_cell {
			display: none;
		}	
	#flexicontent div .btn-group > :not(:last-child), 
	#flexicontent div .input-append > :not(:last-child) {}	

	/* Kategoriesuche und Filter */


	#flexicontent .fc_filter_buttons_box  { width: 100%; 

			 .fc_filter_buttons_box .btn { 
				margin-bottom: 5px; 
				font-size: 0.9rem;
				padding: 0.3rem 0.3rem;
				float: left;
				margin-right: 10px;
			}
	}

}

@media (min-width: 768px) {

	#flexicontent .catimg { float: left; text-align: left; }


 	#flexicontent aside .item_total { float: right; }
	#flexicontent aside .pagination { 
		display: flex; 
		float: right; 
		margin-right: 2rem;
	    margin-top: 0px !important;
	}
	#flexicontent .fc_pages_counter > .label {}

	#flexicontent .fc_filter_box input,
	#flexicontent .fc_filter_box select,
	#flexicontent .fc_orderby_selector select,
	#flexicontent .fc_limit_selector select { width: auto; }

	body .fc-nowrap-box, #flexicontent .nowrap_box, .flexicontent .nowrap_box {
       display: inline-block;
	} 

	/* beitragsbilder */	
	#flexicontent .images,
	#flexicontent .field_wk_galerie {
		justify-content: left;
	}



	#flexicontent .images .wbc-image-field,
	#flexicontent .value_wk_galerie .wbc-image-field
	 {
		-ms-flex-preferred-size: 0;
		flex-basis: 33%;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;

	}


}

.front #flexicontent .introblock > div#fc_bloglist_item_1 {
	background-image: url(../images/grafiken/welle-grau.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.mod-aktuelles {
	.card-columns {
		column-count: 2;
		.card {
			border-radius: 0;
			border: none;
			h3 > a {
				color: inherit;
			}
			.fcitem_date {
				font-size: 0.9rem;
				color: var(--color-mute, @color1);
			}
			.fc_readmore {
				margin-top: auto;
				text-align: right;
				.fcitem_readon {
					display: block;
					margin-top: 30px;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.mod-aktuelles {
		.card-columns {
			column-count: 1;
		}
	}
}

.mod-aktuelles .mod_flexicontent_standard {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
	grid-gap: 20px;
	> div {
		background-color: #fff;
		padding: 20px 15px;
		display: flex;
		flex-direction: column;
		.fc_readmore {
			margin-top: auto;
			text-align: right;
			.fcitem_readon {
				display: block;
				margin-top: 30px;
			}
		}
		.image_standard {
			margin-bottom: 20px;
		}
		.fcitem_date {
			font-size: 0.9rem;
			color: @color1;
		}
		h3 > a {
			color: inherit;
		}
	}
}
.module_readon {
  margin-top: 30px;
  margin-bottom: 30px;
	text-align: center;
	a.readon {
		color: var(--color-bg, #fff);
		background-color: var(--color-font, @color2);
		font-size: 1.1rem;
		padding: 10px 15px;
		border-radius: 20px;
	}
}

/* Tabelle */

table.adminlist tbody tr.row0 td h4,
table.adminlist tbody tr.row1 td h4 {
  color: var(--color-bg, @h4_color);
}

table.adminlist tbody tr.row0:hover,
table.adminlist tbody tr.row1:hover,
table.adminlist tbody tr.row0:hover h4,
table.adminlist tbody tr.row1:hover h4 {
  color: var(--color-font, #555);
}

@media (min-width: 1024px) {
	.front #flexicontent .fc_item_title, 
	.front #flexicontent .fc_item_title a
	{
		font-size: 3rem;
	}

}


@media (min-width: 1200px) {




}