/* Navigation              -------------------------*/

.chrome-fix {
    font-family: @fontfamily;
    font-weight: normal;
}


/*  Kachelmenü Freizeit auf der Startseite Layout: overlay */

.nav-overlay {}
.grid4 .nav-overlay {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1.5rem;
}



/* mobil offcanvas */

.offcanvas {
	nav > .row > .container {
		.wbc-flex;
		align-items: flex-start;


		> div {
			padding: .5rem 0;
			align-self: center;
		}
		.navbar-brand {
			margin: 0;
			flex: 1 0 auto;
		}
		.nav-icons {
			flex: 0 auto;
		}
		.nav-toggle {
			flex: 0;

			.hamburg {
			  height: 38px;
			
			   .line:nth-child(1) { top: 6px; }
			   .line:nth-child(2) { top: 17px; }
			   .line:nth-child(3) { top: 28px; }
			}		

		}
		.nav-toggle::after {
				content: 'Menü';
				display: block;
				line-height: 0.9rem;
				font-size: 0.9rem;
				font-weight: 300; 
				
				text-align: center;
				letter-spacing:  0.10rem;
				text-transform: uppercase;
				text-align: center;
				color: white;
				padding: 0px 0px 2px 3px;
				width: 53px;
				background-color: @color2
			}

		.nav-link {
			margin-right: .5rem;
			font-size: 1.5rem;
			color: @default;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 53px;
			height: 54px;
			border: 1px solid @color1;
		}
	}
}
@media (max-width: 400px) {
	.navbar-brand {
		order: 2;
		text-align: center;
	}
	.nav-icons {
		order: 3;
	}
	.nav-toggle {
		order: 1;
	}
	.offcanvas nav > .row > .container .nav-toggle::after {
		background-color: transparent;
		color: @color2;
		letter-spacing:  normal;
		font-size: 0.8rem;
		padding: 0px;
	}

	.offcanvas nav > .row > .container .nav-link {
		border: none;
	}
	.offcanvas label.hamburg {
		background-color: transparent;
	}
	.offcanvas .line {
		width: 30px;
		background: @color2;
	}
}

@media (max-width: 520px) {
	.navbar-brand img.img-fluid {
		max-width: 190px;
	}
}



.offcanvas .dropdown-toggle:after { border: none; display: none; }
.offcanvas .divider {display: none; }
.offcanvas .fa-chevron-down:before { 
	content: '\f054 ';  padding-left: 5px; 
}
.offcanvas .nav-item.show .fa-chevron-down:before { 
	content: '\f078'; padding-left: 5px; 
}
.offcanvas .nav-item.level1 { 
	border-bottom: 1px solid @color1;
	padding: .5rem 1rem; 
	display: block;
	width: 100%;
}
.offcanvas .nav-item.level1:last-child { 
	border-bottom: none;
}
.offcanvas .nav-item.level1 > .nav-link { 
	font-size: 1.2rem;
	font-weight: 400;
} 

.offcanvas .nav-item.level1.active {
	> a {
		.white-trans(70);
	}
}

.offcanvas .nav-item > .nav-link { 
	padding: 0; 
    font-size: 1rem;
	color: #fff;
	&:hover {
		color: @bordercolor;
	}
}
.offcanvas .nav-item > .nav-child {
	
	padding-bottom: 0;
	.nav-link {
		padding: .5rem 1rem;
		.background_white(20);
		margin-bottom: 1px;
	}
	.nav-item.active {
		.nav-link { 
			.background_white(80);
			color: @defaultcolor;
		 }

	}

}
.offcanvas .nav-header { 
    display: block;
	color: white; 
	background-color: @color6;
	font-size: 1.2rem; 
	line-height: 1.6rem; 
	font-weight: 500;
	padding: .3rem;
	border: 1px solid @color1;
	margin: 1rem 0;
}


@media (min-width: 500px) {
	.sidebar-offcanvas {
		width: 500px;
	}
}


/* Menue Buergerservice auf der Startseite */

ul.servicemenu { justify-content: flex-start; }
ul.servicemenu > li.nav-item { 
	display: flex !important; 
	align-items: center;
	width: 100%;
	padding: 0px;
	margin-bottom: 20px;
}
ul.servicemenu > li.nav-item:after  {
	content: '\f054';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 1.2rem;
	display: inline-flex;	
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	color: @grau_3;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	border: solid 2px @grau_3;
}
ul.servicemenu > li.nav-item .nav-link { 
	width: 85%;
}
ul.servicemenu > li.nav-item a.nav-link:link,
ul.servicemenu > li.nav-item a.nav-link:visited,
ul.servicemenu > li.nav-item a.nav-link:link .chrome-fix,
ul.servicemenu > li.nav-item a.nav-link:visited .chrome-fix {
    font-size: 1.6rem;
    line-height: 3.2rem;
    font-weight: 500;
    font-weight: 300; 
 	color: @grau_1;
}
ul.servicemenu > li.nav-item a.nav-link:hover,
ul.servicemenu > li.nav-item a.nav-link:focus,
ul.servicemenu > li.nav-item a.nav-link:hover .chrome-fix,
ul.servicemenu > li.nav-item a.nav-link:focus .chrome-fix {  
    color: @color1; 
}
ul.servicemenu > li.nav-item:hover:after,
ul.servicemenu > li.nav-item:focus:after{
	border-color: @grau_5;
	color: @grau_5;
    background-color: @grau_01;
}
ul.servicemenu > li.nav-item a.nav-link > .subtitle {
	color: @color1;
}

/** Untermenues  rechts --------------------*/
#wrap-nav-sidebar-append { position: relative; }
#wrap-nav-sidebar-append .ext-header {  
	position: absolute;
	top: 0px;
	right: 50px;
}
#wrap-nav-sidebar-append h3 { 
	font-size: 1rem; 
	line-height: 2rem; 
	font-weight: 600;
}
#wrap-nav-sidebar-append .wbc-toggle-btn { 
	display: flex; 
	justify-content: flex-end;	
	padding-bottom: 2rem;	
}
#wrap-nav-sidebar-append .wbc-toggle-btn .wbc-hamburger { 
	padding-left: 2rem; 
	line-height: 2rem;
	margin: 5px 0 0 0;
}
#wrap-nav-sidebar-append .wbc-toggle-btn .line {
    left: 10px;
    height: 4px;
    width: 35px;
    background:  @color1;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
    margin-bottom: 3px;
}
#wrap-nav-sidebar-append #toggle-container-right {
	transition: all 0.3s ease-in-out; 
    height: 0px; 
    min-height: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    .background_grau;
}
#wrap-nav-sidebar-append #toggle-container-right.wbc-animate-menu { 
	transition: all 0.3s ease-in-out;
    margin-bottom: 2rem;
    height: auto;
    min-height: 200px;
    overflow: visible; 
}
#wrap-nav-sidebar-append #toggle-container-right ul.menu {
 	padding: 1rem;
}
#wrap-nav-sidebar-append ul.nav li a:link,
#wrap-nav-sidebar-append ul.nav li a:visited {
	color: @grau_5;
}
#wrap-nav-sidebar-append ul.nav li a:hover,
#wrap-nav-sidebar-append ul.nav li a:focus {
	color: @color1;
}
#wrap-nav-sidebar-append ul.nav li a:active {
	color: @grau_5;
}

/* Benutzermenues  mit Symbolen */

#sidebar-right .nav.iconmenu .nav-item {
	
	display: block!important;

	.nav-link {
		display: block !important;

			.fas,
			.fa,
			.far { min-width: 1.5rem; }
	}
}



@media (max-width: 767px) {

	/* Footer -------------------------------------------------*/

	/* Navigation Footer Bottom  ------------------------------*/

	#footer-top .nav-item {}
	#footer-top .nav-link { 
		padding: .2rem 0.5rem;
		font-size: 0.9rem;
	}

	#footer-top li:last-child .nav-link { 
		padding-right: 0rem;
	}

	#footer-top li:first-child .nav-link { 
		padding-left: 0rem;
	}	
}

@media (min-width: 768px) {
}

@media (min-width: 1025px) {
	#wrap-nav-sidebar-right .wbc-toggle-btn { display: none; }
	#toggle-container-right { overflow: visible; }
	.append-sidebar-nav { margin-top: 2.5rem; }
	#wrap-nav-sidebar-append .ext-header {  
		position: static;
	}
}

@media (min-width: 1200px) {}

@media (min-width: 1400px ) {}	


@media (min-width: 1700px) {
	
	.nav-overlay li .image-title { 
		font-size: 1.7rem;
		line-height: 2rem;
	}	

}
