secondary_color_hover: #383d41;
.wbc-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.vertikal-zentriert-pos-abs {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.boxshadow {
	-webkit-box-shadow: 0px 3px 5px 0px #262426;
	-moz-box-shadow: 0px 3px 5px 0px #262426;
	box-shadow: 0px 3px 5px 0px #262426;
}
.items ul.flexi li {
	list-style: none;
	margin-left: 0px;
}
#flexicontent .flexi.value,
.flexi.value {
	display: inline;
	float: none;
	max-width: auto;
}
#flexicontent .lineinfo {
	margin-bottom: 20px;
}
.subtitle1 div.bg {
	background: rgba(56,61,65,0.1);
	padding: 8px 5px;
}
.subtitle1,
subtitle2,
.subtitle3 {
	margin-top: 5px;
}
.subtitle1 .flexi.element,
.subtitle2 .flexi.element,
.subtitle3 .flexi.element {
	display: inline-block;
	margin-right: 15px !important;
}
#flexicontent .items label {
	border-radius: 0px;
	font-size: 0.9em;
}
#flexicontent .topblock {
	margin-bottom: 20px;
}
.field_text {
	clear: both !important;
	width: 100% !important;
	margin-top: 1em !important;
}
div.flexi.label {
	min-width: 10% !important;
}
.field_zustaendig .label {
	clear: both;
	float: none;
}
.field_zustaendig .label:before {
	content: "\f0ae";
	font-family: 'FontAwesome';
	padding-right: 10px;
}
.field_zustaendig ul li {
	display: inline;
	list-style: none;
	margin-left: 0px;
}
.field_zustaendig ul li:first-child {
	margin-left: 0px;
	padding-left: 0px;
}
.field_zustaendig ul li:after {
	content: " |";
}
#flexicontent li.flexi {
	display: inline;
}
#flexicontent li.flexi > div {
	display: block;
}
#flexicontent div.flexi_field_prename_1,
#flexicontent div.flexi_field_name_1 {
	display: inline !important;
	margin: 0px 5px 0px 0px !important;
}
#flexicontent div.flexi_field_prename_1 .value,
#flexicontent div.flexi_field_name_1 .value {
	font-weight: 600;
}
#flexicontent .value_field_prename_1:after {
	content: " ";
}
#flexicontent .flexi_field_funktion1 {
	display: block !important;
	clear: both;
	font-weight: 500;
}
#flexicontent .flexi.value ul {
	padding: 1rem 0rem;
}
#flexicontent .flexi.value ul li {
	list-style: square;
	list-style-position: inside;
}
