secondary_color_hover: #383d41;
.wbc-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.vertikal-zentriert-pos-abs {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.boxshadow {
	-webkit-box-shadow: 0px 3px 5px 0px #262426;
	-moz-box-shadow: 0px 3px 5px 0px #262426;
	box-shadow: 0px 3px 5px 0px #262426;
}
#flexicontent .twocols {
	margin: 0px 4% 0px 0px;
	padding: 0px;
	float: left;
	width: 46%;
}
#flexicontent .twocols:last-child {
	margin-right: 0;
}
#flexicontent li.flexi-item {
	border-bottom: 1px dotted #CCC !important;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	padding-top: 0.5em !important;
}
#flexicontent ul.flexi-itemlist li:last-child {
	border-bottom: none !important;
	margin-bottom: 0px !important;
}
#flexicontent ul.flexi-itemlist,
#flexicontent ul.flexi-fieldlist {
	margin: 1px;
	padding: 0;
	display: block;
	width: 100%;
}
#flexicontent ul.flexi-fieldlist {
	float: left;
	width: 100%;
}
#flexicontent ul.fieldsleft {
	width: 50%;
}
#flexicontent li.flexi-field {
	display: block;
	clear: both;
	width: 100%;
	padding: 0.2em 0px 0.2px !important;
}
#flexicontent ul .label,
#flexicontent ul .value {
	float: left;
	display: block;
	margin-right: 2px;
}
#flexicontent ul .label {
	font-weight: 600;
	margin-right: 10px;
}
.flexi_fields {
	line-height: 1.6em;
	margin-left: 0px;
}
#flexicontent ul.zusatzinfo {
	margin-top: 0.5em;
}
#flexicontent div.topblock {
	float: left;
	width: 100%;
}
#flexicontent div.two {
	width: 48% !important;
	margin-right: 2%;
}
#flexicontent div.links img {
	float: left;
	display: block;
	margin-right: 5px;
}
#flexicontent div.links a.jcepopup {
	display: block;
	float: left;
}
#flexicontent div .fc_image_thumb {
	float: none;
}
#flexicontent .description {
	width: 100%;
	clear: both;
	margin-top: 3rem;
}
img.fc_field_image {
	margin-right: 15px;
}
.field_funktion1 {
	font-weight: 600;
	clear: both;
	float: none;
	width: 100%;
}
.flexi_fields {
	clear: both;
	display: block;
}
.flexi_fields .value,
.flexi_fields .label {
	display: block;
	margin-right: 2px;
}
.flexi_fields .label {
	white-space: nowrap;
}
.field_einrichtung {
	font-weight: 500;
	color: #484546;
	line-height: 1.5em;
	font-size: 1em;
}
.value_name_1,
.value_prename_1,
.value_plz_2,
.value_ort_2,
.value_ort_3,
.value_plz_1,
.value_plz_2,
.value_ort_1,
.value_ortsteil_auswahl,
.value_ortsteil_auswahl_2,
.value_ort_einrichtung,
.value_ortsteil_auswahl_einrichtung,
.value_name_2,
.value_prename_2 {
	float: left !important;
	clear: none !important;
	display: inline !important;
	width: auto !important;
}
.value_name_1,
.value_prename_1,
.value_ort_2,
.value_ort_3,
.value_ort_1,
.value_ortsteil_auswahl,
.value_ortsteil_auswahl_2,
.value_ort_einrichtung,
.value_ortsteil_auswahl_einrichtung {
	margin-left: 2px;
}
.field_name_1,
.field_prename_1,
.field_ort_2,
.field_ort_3,
.field_ort_1,
.field_ortsteil_auswahl,
.field_ort_einrichtung,
.field_ortsteil_auswahl_einrichtung 
.field_name_1 {
	clear: none;
}
.field_name_1,
.field_prename_1,
.field_plz_1,
.field_ortsteil_auswahl,
.field_plz_2,
.field_ort_2,
.field_ort_3,
.field_ort_1,
.field_ort_einrichtung,
.field_ortsteil_auswahl_2,
.field_ortsteil_auswahl_einrichtung {
	width: auto !important;
	display: inline-block !important;
}
.field_plz_2,
.field_plz_1 {
	clear: left;
}
.value_funktion1 {
	font-weight: 600;
}
.value_ort_2,
.value_ort_1,
.value_ort_3,
.value_ortsteil_auswahl,
.value_ort_einrichtung,
.field_ortsteil_auswahl_einrichtung,
.value_name_1 {
	margin-left: 2px;
}
.flexi_fields .value_zustaendiger_mitarbeiter,
.flexi_fields.field_zustaendiger_mitarbeiter {
	float: none;
	width: 100%;
}
hr.fcclearline {
	border: 0;
	height: 1px;
	background-image: none;
	margin: 5px 0;
}
.fcfile_actions > a,
.fcfile_actions > input,
.fcfile_actions > form > input {
	line-height: 25px;
}
.fcfile_mime {
	height: 25px;
	line-height: 25px;
}
.wbc-tabs .nav-tabs {
	border: none;
}
.wbc-tabs  li > .nav-link:link,
.wbc-tabs  li > .nav-link:visited {
	color: rgba(56,61,65,0.8);
	border-radius: 0px;
	background-color: #FFFFFF;
	font-weight: 500;
	font-size: 0.9rem;
	border: solid 1px rgba(56,61,65,0.1);
}
.wbc-tabs  li {
	margin-left: 0px;
	margin-right: 10px;
}
.wbc-tabs  li > .nav-link:focus,
.wbc-tabs  li > .nav-link:hover,
.wbc-tabs  li > .nav-link.active:focus,
.wbc-tabs  li > .nav-link.active:hover {
	background-color: #1269B0;
	border-color: #1269B0;
	color: white;
}
.wbc-tabs  li > .nav-link.active {
	background-color: #1269B0;
	border-color: #1269B0;
	color: white;
}
.wbc-tabs .tab-content {
	min-height: 10rem;
	padding-left: 0px;
	padding-right: 0px;
}
