@import 'include/config.less';

/**   CSS Verzeichniss Organisationen **/



#flexicontent .nomansoryitem { padding: 15px; }


#flexicontent .wrap-item { margin-right: 25px;	 }
	 
#flexicontent .listing.one  .full,
#flexicontent .listing.two  .full,
#flexicontent .flexi-fieldlist li
 {
	width: 100%;
	background-image: none !important;
	padding: 0 !important;
	margin: 0 !important;
	list-style: none;
}

#flexicontent .listing.two .even, #flexicontent .listing.two .odd {
	width:		45%; 
	height:		8em;
	min-height:	5em;
	height:		auto !important;
	margin-left: 0;
	margin-right: 0;
	float:       left;
}
#flexicontent .categorie-item-list { padding-bottom: 20px;}

#flexicontent .categorie-item-list .row .col-12:not(.mansoryitem) { display: flex; }

#flexicontent .categorie-item-list .row .col-12.grid-size { display: block; }


#flexicontent .listing.two .even {
	margin-left: 3%
}


#flexicontent .flexi-cat a .catimg {
	margin-top: -3px;
}

#flexicontent .flexi-cat {
	clear:both;
	padding-top: 20px;
	
}


/**** felder ***/

#flexicontent .line3, #flexicontent .line4 {float: left; width: 100%; margin-bottom: 0.5em;}
#flexicontent .flexi-fieldlist .flexi-field.flexi-title {}
#flexicontent .flexi-item {}
	

#flexicontent ul.flexi-itemlist li:last-child { border-bottom: none !important;  margin-bottom: 0px !important;}
#flexicontent ul.flexi-itemlist,
#flexicontent ul.flexi-fieldlist {
	margin : 1px;
	padding: 0;
	display: block;
	width:   100%;
}
#flexicontent ul.fieldsleft {width: 70%; float:left;}
#flexicontent ul.fieldsright {width: 70%; float:right;}
#flexicontent ul.fieldsclearen { clear:both;}

#flexicontent .flexi-field {
	display: block;
	float: left;
	width: 100%;
	padding: 0.2em 0px 0.2px ;
}

#flexicontent .label, #flexicontent .value { 
	float     :    left;
	display   :    block;
	margin-right:  2px;
}
#flexicontent .label {
	font-weight:  600;
	margin-right: 10px;
}


.field_prename_1,.field_name_1  {
	padding-right: 5px !important;
	float:left;
	width: auto!important;
	display:inline-block;
	 }

.flexi-name div {	font-weight: 600 !important;}

.field_plz_1, 
.field_ort_1, 
.field_ort_3,
.field_ortsteil_auswahl, 
.field_plz_2, 
.field_ortsteil_auswahl_2, 
.field_ortsteil_auswahl_einrichtung, 
.field_ortsteil_buergerhaus { 
	width: auto !important; 
	display: inline-block !important;
	margin-right: 5px !important; 
}

.value_plz_2, .value_ort_2, .value_plz_1, .value_plz_2, 
.value_ort_1, .valze_ort_3, .value_ortsteil_auswahl, .field_ortsteil_auswahl_2,
.value_ortsteil_buergerhaus,
.value_name_2, .value_prename_2 
{float: left !important; display: inline!important; width: auto!important; }

.value_ort_2, .value_ort_1, .value_ort_3, .value_ortsteil_auswahl, .value_ortsteil_auswahl_2 {margin-left: 5px;} 
.field_plz_2, .field_plz_1 { clear: left;}


.field_pfarrer_1 .value, .field_funktion_1 .value, .field_funktion_1b .value, .field_name_1 .value, .field_prename_1 .value, .field_prename_2 .value, .field_name_2 .value,
.field_praxisbezeichnung_1 .value { font-weight: 600 !important; }

/* überschriften 
h3.field_einrichtung {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}*/
 /******* Category *************************************/
.clearen {display: block; width:100%; background-image:none;}
.readmore {
	clear:both;
	float: none;
	display:block;
	margin: 0.5em 0px !important;
}
#flexicontent .description { }
/*.separator {
	width: 100%;
	/*border-bottom: solid 1px #999;
	height: 0px;
	float: left;
	display: block;
	}
	



.contentheading { display: block; margin-bottom: 20px; }*/

/***  downloads 

hr.fcclearline {
    border: 0;
    height: 1px;
    background-image: none;
    margin: 5px 0;
}

.fcfile_actions > a, 
.fcfile_actions > input, 
.fcfile_actions > form > input {
       line-height: 25px;
}

.fcfile_mime {
    height: 25px;
    line-height: 25px;
} ***/

/*------------- mansory grid ----------------------------*/



#flexicontent .mansorygrid .mansoryitem
 {
	
	margin: 0px;
	padding: 15px;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	line-height: inherit;

	float: none;
	width: auto;
 }

#flexicontent .mansorygrid.uk-grid .mansoryitem 
{
	 margin-right: 1.999999%;
	 
 }

#flexicontent .mansorygrid.row .mansoryitem
{
	 margin-right: 1.666666%;
}

.flexi-item.background-primary, 
.flexi-item.background-secondary 
{ 
	
	padding: 2rem;
	float: left;
	width: 100%;
}


#flexicontent .mansoryitem.col-xs-12 
  { width: 100%; }

#flexicontent .mansorygrid .flexi-item { min-height: 400px;}


#flexicontent .mansorygrid .gutter-size  {width: 0%;} /* zur zeit nicht verwendet */

@media only screen and (min-width: 768px) {

	 
	#flexicontent .mansoryitem.col-sm-6,
	#flexicontent .mansorygrid .col-sm-6

	  {width: 49.555%;}

	  
	#flexicontent .mansoryitem.col-sm-4,
	#flexicontent .mansorygrid .col-sm-4

	  {width: 33.333%;}


}

@media only screen and (min-width: 992px) {
	
	 
	#flexicontent .mansoryitem.col-lg-4,  
	#flexicontent .mansorygrid .col-lg-4  {width: 33.333%;}

	 
	#flexicontent .mansoryitem.col-lg-6, 
	#flexicontent .mansorygrid .col-lg-6  {width: 49.555%;}

	
	 
	#flexicontent .mansoryitem.col-lg-8,
	#flexicontent .mansorygrid .col-lg-8

	  {width: 66.666%;}

}

@media only screen and (min-width: 1200px) {
	
	  
	#flexicontent .mansoryitem.col-xl-4,
	#flexicontent .mansorygrid .col-xl-4

	  {width: 33.333%;}

	 
	#flexicontent .mansoryitem.col-xl-6,
	#flexicontent .mansorygrid .col-xl-6

	  {width: 49.555%;}

	
	#flexicontent .mansoryitem.col-xl-8,
	#flexicontent .mansorygrid .col-xl-8

	  {width: 66.666%}

}	