.wbc-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.vertikal-zentriert-pos-abs {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.boxshadow {
	-webkit-box-shadow: 0px 3px 5px 0px #262426;
	-moz-box-shadow: 0px 3px 5px 0px #262426;
	box-shadow: 0px 3px 5px 0px #262426;
}
body {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	padding: 0px !important;
	margin: 0px !important;
}
h1,
.h1 {
	font-family: 'Bebas Neue', Arial, sans-serif;
	font-style: inherit;
	font-weight: 400;
}
h2,
.h2 {
	font-family: 'Bebas Neue', Arial, sans-serif;
	font-style: inherit;
	font-weight: 400;
}
.front h2 {
	font-size: 2.3rem;
}
.nofront .fc_item_title {
	font-family: 'Roboto', Arial, sans-serif;
	font-style: inherit;
	font-weight: 500;
}
h3,
.h3 {
	font-family: 'Roboto', Arial, sans-serif;
	font-style: inherit;
	font-weight: 500;
}
.pagination {
	margin-top: 1em;
	width: 100%;
	max-width: 100%;
}
.page-item.active .page-link {
	background-color: #2e6fb1;
	border-color: #2e6fb1;
}
.page-link {
	background-color: var(--color-grau1,#fff);
}
@media (max-width: 450px) {
	.page-link {
		padding: .5rem;
	}
}
a.uk-slidenav-contrast:link,
a.uk-slidenav-contrast:visited {
	color: #ffffff;
}
a.uk-slidenav-contrast:hover,
a.uk-slidenav-contrast:focus {
	color: rgba(255,255,255,0.7);
}
.card {
	background-color: var(--color-side,#fff);
	border: 1px solid var(--color-side,rgba(0,0,0,0.125));
}
.card btn.active,
.card .btn:hover,
.card .btn:focus,
.card .btn:active,
.card button:active,
.card .btn:not(:disabled):not(.disabled):active {
	color: var(--color-font,#484546);
}
.card-header {
	background-color: var(--color-grau1,rgba(0,0,0,0.03));
}
.img-responsive {
	max-width: 100%;
	height: auto;
}
.jfontsize a.btn {
	font-size: 14px;
	color: #FFFFFF;
}
.jfontsize a.btn:hover,
.jfontsize a.btn:focus {
	color: #FFFFFF;
}
.header-top {
	position: absolute;
	width: 100%;
	z-index: 999;
}
#navigation-main .navbar {
	padding: 0px;
}
#navigation-main .navbar-brand {
	width: 180px;
}
.navbar-icon i {
	font-size: 30px;
}
#logo {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 200px;
}
.header-middle {
	position: relative;
}
.header-middle #header-top-01 > .col-12 {
	position: static;
}
.custom-suche {
	top: 1px;
	transition: top 0.5s ease-in-out;
}
#left-fixed.wbc-fixed-sidebar {
	top: 20%;
}
#right-fixed.wbc-fixed-sidebar {
	top: 40%;
}
body.header-large #left-fixed {
	top: 40%;
}
.wbc-fixed-sidebar .nav-item > .bg-secondary {
	background-color: transparent !important;
}
.wbc-fixed-sidebar a.nav-link,
.wbc-fixed-sidebar a.btn-icon.bg-secondary,
#icon-left-search a.nav-link.bg-secondary {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
}
.wbc-fixed-sidebar-left .nav-item {
	margin-bottom: 0.5rem;
}
.breadcrumb {
	background-color: transparent;
	padding-left: 0px;
	padding-right: 0px;
}
#bottom2 p {
	color: rgba(255,255,255,0.6);
	margin-bottom: .5rem;
}
#bottom2 a:link,
#bottom2 a:visited {
	color: rgba(255,255,255,0.6);
}
#bottom2 a:focus,
#bottom2 a:hover {
	color: #ffffff;
}
#bottom2 a:active {
	color: rgba(255,255,255,0.5);
}
#bottom2 i {
	width: 1.5rem;
	padding-right: 5px;
	text-align: center;
	font-weight: 600;
}
a.link-more::after {
	content: '\f054';
	font-family: 'FontAwesome';
	font-size: 1.2rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
}
a.link-more:hover,
a.link-more:focus {
	text-decoration: none;
}
a.wfpopup {
	display: inline-block;
}
.alert {
	border-width: 3px;
}
.icon-calendar:before {
	content: '\f073 ';
	font-family: 'FontAwesome';
}
.cc-window .cc-message-text {
	display: inline-block;
	margin-bottom: .5rem;
}
.cc-window .cc-cookie-settings-toggler {
	font-size: 0px !important;
}
.cc-window .cc-cookie-settings-toggle {
	background-color: transparent !important;
	border: none !important;
}
.cc-window span.cc-message span.cc-cookie-settings-toggle {
	padding: 0;
	font-size: 1rem;
	border: none;
	margin-top: 0px;
	text-decoration: underline;
}
.cc-window a:link:not(.btn),
.cc-window a:visited:not(.btn) {
	color: white;
}
.cc-window a:hover:not(.btn),
.cc-window a:focus:not(.btn) {
	text-decoration: none;
}
.cc-window .cc-settings-label {
	padding-bottom: 1rem;
}
input.cc-cookie-checkbox {
	min-height: 16px !important;
}
.cc-window input.cc-cookie-checkbox + span::before {
	border: none;
	width: 18px;
	height: 18px;
}
.cc-window input.cc-cookie-checkbox + span::after {
	border: none;
	background-image: none;
	width: 18px;
	height: 18px;
	top: -18px;
}
.cc-window div.cc-checkboxes-container.cc-checkboxes-filled input.cc-cookie-checkbox:checked + span::before,
.cc-window div.cc-checkbox-container.cc-checkboxes-filled input.cc-cookie-checkbox:checked + span::after {
	transition: background-color .25s !important;
}
.cc-window .cc-cookie-checkbox {
	margin-left: 5px !important;
}
.cc-window div.cc-checkbox-container:not(:last-child) a {
	border: none !important;
	padding-right: 2rem;
}
.cc-window .cc-highlight .cc-btn:first-child:focus,
.cc-window .cc-highlight .cc-btn:first-child:hover {
	text-decoration: none !important;
}
.wbc-galerie {
	width: 100%;
	float: none;
	clear: both;
	margin-top: 3rem;
}
@media (max-width: 575px) {
	#wrap-footer {
		padding: 20px 0;
		margin-bottom: 40px;
	}
	#wrap-footer .nav.menu.flex-column {
		flex-direction: row !important;
	}
	#gototop-mobil > a {
		color: #fff;
	}
}
@media (min-width: 992px) {
	.custom-suche {
		width: 100%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 70%;
		z-index: 99;
		padding-bottom: 80px;
	}
	.custom-suche .input-group-lg > .custom-select,
	.custom-suche .input-group-lg > .form-control:not(textarea) {
		height: calc(3.3rem);
		border-radius: 0;
		border: none;
		width: 0px;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
		transition: width 0.5s ease-in-out;
	}
	.custom-suche form > .search-group {
		width: 20rem;
		justify-content: flex-end;
	}
	.custom-suche .input-group-lg:hover input.form-control,
	.custom-suche .input-group-lg:focus input.form-control {
		width: 12rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.custom-suche .btn,
	.custom-suche .btn:link,
	.custom-suche .btn:visited {
		background-color: #FFF;
		color: #707070;
		border: solid 4px transparent;
		width: 60px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
		border-radius: 0px;
	}
	.custom-suche .btn:hover,
	.custom-suche .btn:focus {
		background-color: #FFFFFF;
		color: #707070;
		border: solid 4px #707070;
	}
	.custom-suche .btn .fa {
		font-size: 2rem;
	}
	#left-fixed a.nav-link,
	#left-fixed a.btn-icon {
		height: 3rem;
		width: 3rem;
		text-decoration: none;
	}
	#left-fixed a.nav-link:hover,
	#left-fixed a.btn-icon:hover,
	#left-fixed a.nav-link:focus,
	#left-fixed a.btn-icon:focus {
		text-decoration: none !important;
	}
	#left-fixed .slide-open  a.nav-link,
	#left-fixed .slide-open a.btn-icon {
		margin-left: auto;
		background-color: transparent !important;
		box-shadow: none;
	}
	.wbc-fixed-sidebar a.nav-link .fa {
		font-size: 1rem;
	}
	.wbc-fixed-sidebar a.nav-link:hover .fa,
	.wbc-fixed-sidebar a.nav-link:focus .fa {
		transform: rotate(1deg);
	}
	.wbc-fixed-sidebar a.nav-link .fa {
		transform: rotate(-20deg);
		transition: transform 0.5s ease-in-out;
	}
	#fixed-sidebar-right-toggle .container-fix,
	#fixed-sidebar-left-toggle .container-fix {
		display: none;
		width: 400px;
		height: auto;
		padding: 15px 10px 15px 10px;
		margin-top: -3rem;
		background: #000000 !important;
		background: #ffffff !important;
		color: #484546;
	}
	#fixed-sidebar-right-toggle .container-fix .btn,
	#fixed-sidebar-left-toggle .container-fix .btn {
		-webkit-border-radius: 0%;
		-moz-border-radius: 0%;
		-ms-border-radius: 0%;
		-o-border-radius: 0%;
		border-radius: 0%;
		background-color: var(--color-bg,#2E6FB1);
		color: var(--color-font,#fff);
	}
	#fixed-sidebar-right-toggle .container-fix .badge,
	#fixed-sidebar-left-toggle .container-fix .badge {
		padding: 0px;
	}
	.cc-floating {
		max-width: 600px !important;
	}
	.cc-center {
		width: 100%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		margin: 0px 0px 0px -300px !important;
	}
}
@media (min-width: 1200px) {
	.sps--blw #logo {
		width: 80%;
	}
	.wbc-fixed-sidebar a.nav-link,
	.wbc-fixed-sidebar a.btn-icon.bg-secondary,
	#icon-left-search a.nav-link.bg-secondary {
		height: 3rem;
		width: 3rem;
		min-width: 3rem;
	}
	.wbc-background-image-stretch {
		min-height: 500px;
	}
}
@media (min-width: 1500px) {
	#navigation-main .navbar-brand {
		width: 250px;
	}
	#overlay_headerimg  > div {
		padding: 2rem;
	}
}
@media (min-width: 1700px) {
	.custom-suche {
		left: 70%;
	}
	.custom-suche form > .search-group {
		width: 30rem;
	}
	.custom-suche .input-group-lg > .custom-select,
	.custom-suche .input-group-lg > .form-control:not(textarea) {
		height: 5.2rem;
	}
	.custom-suche .input-group-lg:hover input.form-control,
	.custom-suche .input-group-lg:focus input.form-control {
		width: 20rem;
	}
	.custom-suche .btn {
		width: 100px;
		padding: 0.5rem 1rem;
	}
	.custom-suche .btn .fa {
		font-size: 4rem;
	}
	#left-fixed  a.nav-link,
	#left-fixed  a.btn-icon {
		height: 80px;
		width: 80px;
	}
	#fixed-sidebar-right-toggle .container-fix,
	#fixed-sidebar-left-toggle .container-fix {
		margin-top: -80px;
	}
	#left-fixed a.nav-link > .fa,
	#left-fixed a.btn-icon > .fa {
		font-size: 2rem;
	}
}
.onepage {
	padding: 2rem 0;
}
.onepage > .onepage-inner > .page-header {
	position: relative;
}
.onepage > .onepage-inner > .page-header .mod-title {
	font-size: 2rem;
	line-height: 1.1em;
}
.onepage > .onepage-inner > .container {
	margin: 1rem auto;
}
#bottom2 {
	background-color: var(--color-grau1,#9a9999);
	background-image: url(../images/grafiken/welle-grau.png);
	background-position: 100% 90%;
	background-repeat: no-repeat;
	background-size: 25%;
	color: #fff;
}
#bottom2 .container {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	grid-gap: 30px;
}
@media (min-width: 460px) {
	#bottom2 .custom:not(:last-child) {
		border-right: 1px solid #fefefe;
	}
}
#onepage-contact-rathaus > .onepage-inner > .page-header > .container::before {
	content: '\f073 ';
}
#onepage-section-buergerservice {
	background-color: var(--color-grau1,#2E6FB1);
}
#onepage-section-buergerservice .mod-title {
	color: #fff;
}
#onepage-section-buergerservice .nav {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
	grid-gap: 1rem;
}
#onepage-section-buergerservice .nav li {
	text-align: center;
}
#onepage-section-buergerservice .nav .shadow-sm {
	box-shadow: none !important;
}
#onepage-section-buergerservice .nav .bg-secondary {
	background-color: transparent !important;
}
#onepage-section-buergerservice .nav .nav-link {
	display: flex;
	flex-direction: column;
	color: #fff;
	align-items: center;
	padding: 0;
}
#onepage-section-buergerservice .nav .nav-link span {
	background-color: rgba(35,31,32,0.6);
	border-radius: 50%;
	padding: 1rem;
	width: 80px;
	height: 80px;
	text-align: center;
	margin-bottom: 1.5rem;
}
#onepage-section-buergerservice .nav .nav-link span:before {
	font-size: 3rem;
	color: var(--color-font,rgba(255,255,255,0.5));
}
#onepage-section-erleben {
	background-color: var(--color-bg,#fff);
}
@media (min-width: 768px) {
	#onepage-section-buergerservice > .onepage-inner > .container,
	#onepage-section-erleben > .onepage-inner > .container,
	#onepage-contact-rathaus > .onepage-inner > .container {
		margin-top: 8rem;
	}
}
@media (min-width: 1024px) {
	.onepage {
		padding: 4rem 0;
	}
	.onepage > .onepage-inner > .page-header .mod-title {
		font-size: 3.8rem;
		margin-left: 30%;
	}
	#onepage-section-buergerservice .nav .nav-link {
		font-size: 1.3rem;
	}
	#onepage-section-buergerservice .mod-title {
		position: relative;
	}
	#onepage-section-buergerservice .mod-title:after {
		content: url(../images/grafiken/welle-blau.png);
		display: inline-block;
		position: absolute;
		top: 50px;
		right: -280px;
	}
	#onepage-section-erleben .mod-title {
		position: relative;
	}
	#onepage-section-erleben .mod-title:after {
		content: url(../images/grafiken/welle-gruen.png);
		display: inline-block;
		position: absolute;
		top: 60px;
		right: -280px;
	}
}
.front .header {
	margin-top: 76px;
}
.front .header .header-banner {
	column-count: 2;
}
.front .header .header-banner .banner-container {
	max-width: 400px;
	margin: 0 auto;
}
.front .header .header-banner .banner {
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
}
.front .header .header-banner .banner .overlay {
	padding: 40px 20px;
	font-size: 1.3rem;
}
.front .header .header-banner .banner:first-child .overlay {
	background-color: rgba(0,80,160,0.7);
}
.front .header .header-banner .banner:first-child .overlay a {
	color: white;
	text-transform: uppercase;
}
.front .header .header-banner .banner:nth-child(2) .overlay {
	background-color: rgba(255,255,255,0.7);
	text-align: right;
	margin-left: auto;
}
.front .header .header-banner .banner:nth-child(2) .overlay a {
	color: #484546;
	text-transform: uppercase;
}
@media (max-width: 768px) {
	.front .header .header-banner {
		column-count: 1;
	}
	.front .header .header-banner .banner {
		height: 300px;
	}
	.front .header .header-banner .banner .overlay {
		display: none;
	}
	.front .header .header-banner .banner:nth-child(2) {
		display: none;
		background-image: none !important;
	}
}
@media (max-width: 576px) {
	.front .header-middle {
		display: none;
	}
}
#gototop-mobil {
	justify-content: space-between;
}
#gototop-mobil .nav {
	margin-right: 18px;
}
#gototop-mobil .nav li a {
	color: #fff;
}
#left-fixed .extension-outer,
#fixed-sidebar-left-toggle .extension-outer,
#right-fixed .extension-outer,
#fixed-sidebar-right-toggle {
	margin-bottom: 0rem;
}
.extension-inner.extension-icon .custom {
	margin-top: 0.5rem;
}
.extension-outer img {
	max-width: 100%;
	height: auto;
}
#sidebar-right p,
#sidebar-left p {
	margin-bottom: .5rem;
}
.extension-outer {
	background-color: transparent;
}
.ext-header {
	display: flex;
}
.ext-header h2,
.ext-header h3,
.ext-header h4 {
	color: #707070;
	font-size: 22px;
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.ext-header .ext-icon-block {
	border-radius: 50%;
	line-height: 2rem;
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	margin-right: 20px;
	font-style: normal;
	vertical-align: middle;
	text-align: center;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
	flex-shrink: 0;
}
.ext-header i {
	font-size: 30px;
}
#sidebar-left div.extension-outer,
#sidebar-right div.extension-outer,
#sidebar-right div.custom-outer,
#sidebar-left div.custom-outer {
	margin-bottom: 3rem;
}
#sidebar-right .extension-outer {
	position: relative;
	background-color: var(--color-side,rgba(255,255,255,0.6));
}
#sidebar-right .extension-outer:first-child {
	margin-top: 6em;
}
@media (max-width: 992px) {
	#sidebar-right .extension-outer:first-child {
		margin-top: 0;
	}
}
#sidebar-right .fcitem_readon a:link,
#sidebar-right .fcitem_readon a:visited {
	color: white;
	background-color: transparent;
	border: solid 1px white;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
#sidebar-right .fcitem_readon a:hover,
#sidebar-right .fcitem_readon a:focus {
	color: white;
	background-color: transparent;
	border: solid 1px white;
}
#sidebar-left .extension-outer {
	background: #000000 !important;
	background: rgba(109,107,107,0.1) !important;
	color: #484546;
	position: relative;
}
#sidebar-left .extension-outer a:link,
#sidebar-left .extension-outer a:visited {
	color: var(--color-font,rgba(56,61,65,0.5));
}
#sidebar-left .extension-outer a:hover,
#sidebar-left .extension-outer a:focus {
	color: var(--color-font,#484546);
}
#sidebar-right .extension-outer a:link,
#sidebar-right .extension-outer a:visited {
	color: var(--color-font,rgba(56,61,65,0.5));
}
#sidebar-right .extension-outer a:hover,
#sidebar-right .extension-outer a:focus {
	color: var(--color-font,#484546);
}
#sidebar-left div.extension-outer-icon:first-child,
#sidebar-right div.extension-outer-icon:first-child {
	margin-top: 2rem;
}
#sidebar-left .ext-header .ext-icon-block,
#sidebar-right .ext-header .ext-icon-block {
	position: absolute;
	top: -2rem;
	right: 5%;
	border-radius: 50%;
	line-height: 2rem;
	width: 4rem;
	height: 4rem;
	padding: 0.5rem;
	margin-right: 20px;
	font-style: normal;
	vertical-align: center;
	text-align: right;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
	flex-shrink: 0;
}
#sidebar-left .ext-header .ext-icon-block {
	background-color: #707070;
}
#sidebar-left .ext-header i,
#sidebar-right .ext-header i {
	font-size: 35px;
}
#sidebar-right .ext-header h2,
#sidebar-right   h3,
#sidebar-right  .ext-header h4 {
	color: var(--color-font,#2e6fb1);
	font-size: 22px;
	font-weight: 400;
	line-height: 35px;
	font-family: "Bebas Neue";
	font-style: inherit;
	margin-bottom: 20px;
	padding: 10px 10% 0 0;
}
#sidebar-left .ext-header h2,
#sidebar-left .ext-header h3,
#sidebar-left  .ext-header h4 {
	color: #484546;
}
.append-sidebar-before .ext-icon-block {
	display: none;
}
.front .introblock .moduletable:not(:first-child) {
	margin-top: 3rem;
}
.onepage .nav .nav-link {
	padding-left: 0;
}
@media (min-width: 768px) {
	#sidebar-left .ext-header .ext-icon-block,
	#sidebar-right .ext-header .ext-icon-block {
		position: absolute;
		top: -1.5rem;
		right: 1%;
		width: 3rem;
		height: 3rem;
	}
	#sidebar-left .ext-header i,
	#sidebar-right .ext-header i {
		font-size: 20px;
	}
}
@media (min-width: 1024px) {
	#highlight-vorInhalt-01-col  .ext-header h2,
	#highlight-vorInhalt-01-col  .ext-header h3,
	#highlight-vorInhalt-01-col  .ext-header h4 {
		font-size: 30px;
		line-height: 40px;
	}
	.ext-header i {
		font-size: 35px;
	}
	.ext-header .ext-icon-block {
		width: 6rem;
		height: 6rem;
	}
}
@media (min-width: 1200px) {
	#highlight-vorInhalt-01-col .ext-header h2,
	#highlight-vorInhalt-01-col .ext-header h3,
	#highlight-vorInhalt-01-col .ext-header h4 {
		font-size: 40px;
		line-height: 50px;
	}
	#highlight-vorInhalt-01-col  .ext-header i {
		font-size: 45px;
	}
	.fcitem_text {
		font-size: 1.2rem;
		line-height: 1.7rem;
	}
	.flexslider-vertical .slides img {
		max-width: 100% !important;
		width: auto;
		max-height: 400px !important;
	}
	.flexslider-vertical ul.slides li .item-data {
		min-height: 400px;
	}
	.flexslider-vertical  .image-container {
		height: auto;
	}
}
@media (min-width: 1400px) {
	#sidebar-left div.extension-outer-icon:first-child,
	#sidebar-right div.extension-outer-icon:first-child {
		margin-top: 2.5rem;
	}
	#sidebar-left .ext-header .ext-icon-block,
	#sidebar-right .ext-header .ext-icon-block {
		position: absolute;
		top: -2.5rem;
		right: 10%;
		width: 5rem;
		height: 5rem;
		padding: 0.5rem;
	}
	#sidebar-left .ext-header i,
	#sidebar-right .ext-header i {
		font-size: 35px;
	}
	.front .extension-outer-vorInhalt-01-col {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
.chrome-fix {
	font-family: 'Roboto', Arial, sans-serif;
}
#navigation-main .navbar {
	align-items: flex-start;
}
#navigation-main ul.akdropdown.navmain > li {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#navigation-main ul.akdropdown.navmain > li.level1 {
	padding-bottom: 2.5rem;
}
#navigation-main ul.akdropdown.navmain > li:first-child {
	padding-left: 0px;
}
#navigation-main ul.akdropdown.navmain li a {
	font-size: 0.9rem;
}
#navigation-main ul.dropdown-level1,
#navigation-main li.level1:hover ul.dropdown-level1,
#navigation-main li.level1:focus ul.dropdown-level1 {
	border-radius: 0px;
	min-width: 90%;
	width: auto;
	padding: 0;
	left: 0;
	z-index: 9999;
	margin-left: 5%;
	margin-right: 5%;
}
#navigation-main ul.akdropdown .menutitle {
	font-size: 0rem;
	line-height: 0rem;
	border-bottom: none;
	margin: 0px;
	padding: 0px;
}
#navigation-main ul.akdropdown .subtitle {
	color: rgba(56,61,65,0.5);
}
#navigation-main ul.akdropdown li > .nav-header {
	padding: 0rem 0.5rem 0.3rem 0.5rem;
	font-size: 1.2rem;
	line-height: 1.3rem;
	font-weight: 400;
}
#navigation-main ul.akdropdown li > .nav-subtitle {
	padding: 0.3rem 0.5rem;
}
#navigation-main .dropdown-toggle {
	position: relative;
}
#navigation-main .dropdown-toggle::after {
	display: none;
}
#navigation-main ul.akdropdown ul.dropdown-menu li ul {
	margin-top: 2.5rem;
	padding-left: 0px;
}
#navigation-main ul.akdropdown li.multi-column {
	flex: 0 0 20%;
	padding-bottom: 2rem;
}
#navigation-main ul.akdropdown li.multi-column > .nav-col {
	width: auto !important;
}
#navigation-main ul.akdropdown li.level2 > a:link,
#navigation-main ul.akdropdown li.level2 > a:visited {
	padding: 0.4rem 1rem 0.4rem 0.5rem;
	line-height: 1.4rem;
	transition: padding-left 0.5s ease-in-out;
}
#navigation-main ul.akdropdown li.level2 > a:hover,
#navigation-main ul.akdropdown li.level2 > a:focus {
	padding: 0.5rem 1rem 0.5rem 1rem;
}
#navigation-main .mod-languages ul li a {
	padding-left: 0px;
	padding-right: 0px;
}
.multicolumn-dropdown > .quicklink {
	background: #000000 !important;
	background: rgba(109,107,107,0.05) !important;
	margin: -3px 0 0 0;
	max-width: 300px;
}
.quicklink ul.nav > li:first-child {
	background: #000000 !important;
	background: rgba(109,107,107,0.1) !important;
	padding: 0.5rem 0.8rem !important;
	margin-bottom: 1rem;
}
.quicklink ul.nav > li {
	padding: 0px;
}
.quicklink ul.nav > li > a:before {
	content: '\f138';
	font-family: 'FontAwesome';
	font-size: 1.2rem;
	line-height: 1.2rem;
	padding-right: 10px;
	display: inline;
}
.quicklink ul.nav > li > a {
	padding: 0.3rem 0.5rem;
	font-size: 1rem;
	line-height: 2rem;
	white-space: nowrap;
}
.quicklink ul.nav > li > a:hover,
.quicklink ul.nav > li > a:focus,
.quicklink ul.nav > li:hover > a,
.quicklink ul.nav > li:focus > a {
	color: #707070 !important;
}
.quicklink > .nav > li {
	padding: 0px !important;
}
.quicklink > .nav {
	margin-top: 0px !important;
}
.spalten4 .nav-overlay {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	grid-gap: 1.5rem;
}
.nav-overlay {
	text-align: center;
}
.nav-overlay li {
	position: relative;
	padding: 0px;
}
.nav-overlay a {
	display: block;
	text-align: center;
}
.nav-overlay li .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	top: 0;
	z-index: 2;
	background: rgba(0,0,0,0);
	transition: all .9s ease;
	text-align: center;
}
.nav-overlay li:hover .overlay,
.nav-overlay li:focus .overlay {
	background: rgba(0,0,0,0.4);
}
.nav-overlay li .image-title {
	color: #484546;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 85%;
	min-height: 80px;
	background: rgba(255,255,255,0.8);
	padding: .5rem;
}
.offcanvas nav > .row > .container {
	display: flex;
	align-items: center;
}
.offcanvas nav > .row > .container > div {
	padding: .5rem 0;
	align-self: center;
}
.offcanvas nav > .row > .container .navbar-brand {
	margin: 0;
	flex: 1 0 auto;
}
.offcanvas nav > .row > .container .nav-icons {
	flex: 0 auto;
}
.offcanvas nav > .row > .container .nav-toggle {
	flex: 0;
}
.offcanvas nav > .row > .container .nav-link {
	margin-right: .5rem;
	font-size: 1.5rem;
	color: #484546;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 53px;
	height: 50px;
	border: 1px solid #707070;
}
@media (max-width: 400px) {
	.navbar-brand {
		order: 2;
		text-align: center;
	}
	.nav-icons {
		order: 3;
	}
	.nav-toggle {
		order: 1;
	}
	.offcanvas nav > .row > .container .nav-link {
		border: none;
	}
	.offcanvas label.hamburg {
		background-color: transparent;
	}
	.offcanvas .line {
		width: 30px;
		background: #2E6FB1;
	}
}
@media (max-width: 520px) {
	.navbar-brand img.img-fluid {
		max-width: 190px;
	}
}
.offcanvas li.active > a {
	text-decoration: underline;
}
.offcanvas .dropdown-toggle:after {
	border: none;
	display: none;
}
.offcanvas .divider {
	display: none;
}
.offcanvas .fa-chevron-down:before {
	content: '\f054 ';
	padding-left: 5px;
}
.offcanvas .nav-item.show .fa-chevron-down:before {
	content: '\f078';
	padding-left: 5px;
}
.offcanvas .nav-item.level1 {
	border-bottom: 1px solid #707070;
	padding: .5rem 1rem;
	display: block;
	width: 100%;
}
.offcanvas .nav-item.level1:last-child {
	border-bottom: none;
}
.offcanvas .nav-item.level1 > .nav-link {
	font-size: 1.2rem;
	font-weight: 400;
}
.offcanvas .nav-item > .nav-link {
	padding: 0;
	font-size: 1rem;
	color: #fff;
}
.offcanvas .nav-item > .nav-link:hover {
	color: #DDDDDD;
}
.offcanvas .nav-item > .nav-child {
	border-top: 1px solid #707070;
	padding-bottom: 0;
}
.offcanvas .nav-item > .nav-child .nav-link {
	padding: .5rem 0;
}
.offcanvas .nav-header {
	display: block;
	color: #FFFFFF;
	background-color: #4497d6;
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 500;
	padding: .3rem;
	border: 1px solid #707070;
	margin: 1rem 0;
}
@media (min-width: 500px) {
	.sidebar-offcanvas {
		width: 500px;
	}
}
ul.servicemenu {
	justify-content: flex-start;
}
ul.servicemenu > li.nav-item {
	display: flex !important;
	align-items: center;
	width: 100%;
	padding: 0px;
	margin-bottom: 20px;
}
ul.servicemenu > li.nav-item:after {
	content: '\f054';
	font-family: 'FontAwesome';
	font-size: 1.2rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	color: rgba(56,61,65,0.3);
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	border: solid 2px rgba(56,61,65,0.3);
}
ul.servicemenu > li.nav-item .nav-link {
	width: 85%;
}
ul.servicemenu > li.nav-item a.nav-link:link,
ul.servicemenu > li.nav-item a.nav-link:visited,
ul.servicemenu > li.nav-item a.nav-link:link .chrome-fix,
ul.servicemenu > li.nav-item a.nav-link:visited .chrome-fix {
	font-size: 1.6rem;
	line-height: 3.2rem;
	font-weight: 500;
	font-weight: 300;
	color: #383d41;
}
ul.servicemenu > li.nav-item a.nav-link:hover,
ul.servicemenu > li.nav-item a.nav-link:focus,
ul.servicemenu > li.nav-item a.nav-link:hover .chrome-fix,
ul.servicemenu > li.nav-item a.nav-link:focus .chrome-fix {
	color: #707070;
}
ul.servicemenu > li.nav-item:hover:after,
ul.servicemenu > li.nav-item:focus:after {
	border-color: rgba(56,61,65,0.5);
	color: rgba(56,61,65,0.5);
	background-color: rgba(56,61,65,0.1);
}
ul.servicemenu > li.nav-item a.nav-link > .subtitle {
	color: #707070;
}
#wrap-nav-sidebar-append {
	position: relative;
}
#wrap-nav-sidebar-append .ext-header {
	position: absolute;
	top: 0px;
	right: 50px;
}
#wrap-nav-sidebar-append h3 {
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 600;
}
#wrap-nav-sidebar-append .wbc-toggle-btn {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 2rem;
}
#wrap-nav-sidebar-append .wbc-toggle-btn .wbc-hamburger {
	padding-left: 2rem;
	line-height: 2rem;
	margin: 5px 0 0 0;
}
#wrap-nav-sidebar-append .wbc-toggle-btn .line {
	left: 10px;
	height: 4px;
	width: 35px;
	background: #707070;
	border-radius: 2px;
	display: block;
	transition: 0.5s;
	transform-origin: center;
	margin-bottom: 3px;
}
#wrap-nav-sidebar-append #toggle-container-right {
	transition: all 0.3s ease-in-out;
	height: 0px;
	min-height: 0px;
	padding: 0px;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	background: #000000 !important;
	background: rgba(109,107,107,0.1) !important;
}
#wrap-nav-sidebar-append #toggle-container-right.wbc-animate-menu {
	transition: all 0.3s ease-in-out;
	margin-bottom: 2rem;
	height: auto;
	min-height: 200px;
	overflow: visible;
}
#wrap-nav-sidebar-append #toggle-container-right ul.menu {
	padding: 1rem;
}
#wrap-nav-sidebar-append ul.nav li a:link,
#wrap-nav-sidebar-append ul.nav li a:visited {
	color: rgba(56,61,65,0.5);
}
#wrap-nav-sidebar-append ul.nav li a:hover,
#wrap-nav-sidebar-append ul.nav li a:focus {
	color: #707070;
}
#wrap-nav-sidebar-append ul.nav li a:active {
	color: rgba(56,61,65,0.5);
}
ul.switcher {
	padding-bottom: 2rem;
}
ul.switcher li {
	width: 8%;
	padding-right: 0.5%;
}
ul.switcher li img {
	max-width: 100%;
	height: auto;
	border: solid 1px rgba(56,61,65,0.3);
	-webkit-filter: grayscale(3) !important;
	filter: grayscale(3) !important;
}
ul.switcher li > a:link,
ul.switcher li > a:visited {
	padding: 0 0.5rem 1rem 0rem;
}
ul.switcher li > a:hover img,
ul.switcher li > a:focus img,
ul.switcher li.active > a:link img,
ul.switcher li.active > a:link img {
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}
@media (max-width: 767px) {
	#footer-top .nav-link {
		padding: .2rem 0.5rem;
		font-size: 0.9rem;
	}
	#footer-top li:last-child .nav-link {
		padding-right: 0rem;
	}
	#footer-top li:first-child .nav-link {
		padding-left: 0rem;
	}
}
@media (min-width: 1025px) {
	#wrap-nav-sidebar-right .wbc-toggle-btn {
		display: none;
	}
	#toggle-container-right {
		overflow: visible;
	}
	.append-sidebar-nav {
		margin-top: 2.5rem;
	}
	#wrap-nav-sidebar-append .ext-header {
		position: static;
	}
}
@media (min-width: 1400px) {
	#navigation-main .dropdown-toggle::after {
		display: inline-block;
		position: absolute;
		top: 0.3rem;
		right: 5px;
	}
	#navigation-main ul.nav > li.level1 > a {
		font-size: 1.1rem;
		padding-left: 1rem;
		padding-right: 2rem;
	}
}
@media (min-width: 1700px) {
	#navigation-main ul.nav > li.level1 > a {
		font-size: 1.2rem;
		padding-left: 1rem;
		padding-right: 3rem;
	}
	#navigation-main ul.dropdown-level1,
	#navigation-main li.level1:hover ul.dropdown-level1,
	#navigation-main li.level1:focus ul.dropdown-level1 {
		margin-left: 17%;
		margin-right: 15%;
		min-width: 70%;
	}
	#quicklinks ul.nav > li > a {
		padding: 0.3rem 0.5rem;
		font-size: 1rem;
		line-height: 2.4rem;
	}
	.nav-overlay li .image-title {
		font-size: 1.7rem;
		line-height: 2rem;
	}
}
.jev-image img {
	max-width: 100%;
	height: auto;
}
.front .extension-outer .events {
	margin-left: 1.5rem;
}
.front .mod_events_latest_table {
	border-spacing: 0 20px;
	border-collapse: separate;
	margin-top: -20px;
	margin-bottom: 0;
}
.front .mod_events_latest_table td {
	background-color: var(--color-bg,#fff);
}
.front .mod_events_latest_table .wbc-ev-date {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 70%;
	background-color: #168f3b;
	padding: 10px 15px;
	color: #fff;
	font-weight: 500;
}
.front .mod_events_latest_table .wbc-ev-date i {
	margin-right: 5px;
}
.front .mod_events_latest_table .wbc-ev-content {
	padding: 15px;
}
.front .mod_events_latest_table .wbc-ev-content h3 > a {
	color: inherit;
}
.mod_events_latest_callink {
	text-align: right;
	margin-top: 30px;
	margin-bottom: 100px;
}
.mod_events_latest_callink a {
	color: var(--color-bg,#fff) !important;
	background-color: var(--color-font,#2E6FB1);
	font-size: 1.1rem;
	padding: 10px 15px;
	border-radius: 20px;
}
@media (max-width: 767px) {
	.front .mod_events_latest_table .wbc-ev-date {
		width: 100%;
		margin-bottom: 0;
	}
	.front .mod_events_latest_table .wbc-ev-content {
		background-color: #168f3b;
		padding: 5px 15px;
	}
	.front .mod_events_latest_table .wbc-ev-content h3 {
		margin-bottom: 0;
	}
	.front .mod_events_latest_table .wbc-ev-content h3 a {
		color: #fff;
	}
	.front .mod_events_latest_table .wbc-ev-content p {
		display: none;
	}
	.mod_events_latest_callink {
		text-align: center;
	}
}
.jevfilterlist,
.jevfilterfloatlist {
	list-style-type: none;
	display: block;
	margin-left: 0px;
	padding-left: 0px;
}
.front .jevfilterlist .field-calendar {
	max-height: 40px;
	overflow: hidden;
}
.front .jevfilterlist .evsearch {
	width: 100%;
}
.front .jevfilterlist .field-calendar .btn {
	width: 10%;
}
.front .jevfilterlist .field-calendar input {
	width: 90%;
}
.front .jevfilterlist label {
	margin-bottom: 0px;
	font-size: 1rem;
	line-height: 1rem;
}
.nofront .jevfilterlist {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.nofront .jevfilterlist li label {
	display: inline-block;
}
.nofront .jevfilterlist li input {
	width: 100%;
}
.nofront .jevfilterlist .field-calendar input {
	width: 80%;
}
.nofront .jevfilterlist .field-calendar button {
	width: 20%;
	margin-right: -5px;
	margin-top: -2px;
}
#jevents_body {
	border: 1px solid #DDDDDD;
	border-radius: 0px;
	background-color: transparent !important;
	padding-top: 0px;
	padding-bottom: 0px;
}
#jev_maincal {
	background-color: transparent !important;
	border: 1px solid #DDDDDD;
}
.jev_toprow .jev_header2 {
	display: flex;
}
.jev_toprow div.previousmonth,
.jev_toprow div.nextmonth {
	background-color: rgba(56,61,65,0.2);
	border: 1px solid rgba(56,61,65,0.2);
}
.jev_toprow div.currentmonth {
	border-top: 1px solid rgba(56,61,65,0.2);
	border-bottom: 1px solid rgba(56,61,65,0.2);
	margin-bottom: -1px;
}
.nav-items > div {
	border: 1px solid rgba(56,61,65,0.2);
}
.nav-items > div:last-child {
	border-radius: 0;
	border-right: 1px solid rgba(56,61,65,0.2);
}
.nav-items > div:first-child {
	border-radius: 0;
	border-left: 1px solid rgba(56,61,65,0.2);
}
#jevents_body .nav-items > div a:hover {
	padding: 7px 12px 7px 12px;
	border-left: none;
}
#jevents_body .jev_toprow div.previousmonth a {
	color: var(--color-font,#484546);
}
#jevents_body .jev_toprow div.nextmonth a {
	color: var(--color-font,#484546);
}
.jev_listview .jev_listrow .ev_td_li {
	border: none;
}
#jevents_body ul.ev_ul li.ev_td_li {
	padding: 0px .5rem;
}
#jevents_body .jev_listview .jev_listrow li {
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
	border-top: 3px solid rgba(56,61,65,0.2) !important;
}
#jevents_body .wbc-jevrow {
	padding: 1rem 0;
}
#jevents_body .jev-title {
	color: #707070;
	font-weight: 500;
}
#jevents_body .ev_link_row::before {
	content: '\f0a9';
	font-family: 'FontAwesome';
	padding-right: 1rem;
	display: inline-block;
	font-size: 1.3rem;
	line-height: 1.7rem;
}
#jevents_body a.ev_link_row:link,
#jevents_body a.ev_link_row:visited,
#jevents_body a.ev_link_row:hover {
	font-size: 1.3rem;
	text-decoration: none;
	font-weight: normal;
	line-height: 1.7rem;
}
#jevents_body .jev_evdt {
	background: #000000 !important;
	background: rgba(109,107,107,0.02) !important;
}
#jevents_body .wbc_evdt_desc {
	clear: both;
}
.wbc-jevlist {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.wbc-jevlist li > label {
	margin-bottom: 0.1rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
}
.wbc-jevlist li {
	margin-right: 0.5rem;
}
.wbc-jevlist .form-group {
	margin-top: 0px;
}
.wbc-jevlist .form-group input {
	width: 100%;
}
.wbc-jevlist .form-group.buttons input {
	width: auto;
}
.wbc-jevlist .form-group.buttons {
	margin-top: 1.8rem;
}
.wbc-jevlist .field-calendar .input-append {
	display: flex;
	font-size: 0px;
}
.nofront 


 
 
 .actions {
	padding: 1rem 0rem;
}
.actions  li {
	margin-right: .5rem;
}
@media (max-width: 769px) {
	.jev_toprow div.previousmonth,
	.jev_toprow div.nextmonth {
		flex-grow: 2;
		width: auto;
	}
	.jev_toprow div.currentmonth {
		flex-grow: 1;
		width: auto;
	}
}
.form-inline fieldset {
	width: 100%;
}
.float-placeholder {
	width: auto !important;
}
form label {
	color: var(--color-font,#484546);
	font-weight: inherit;
	font-style: inherit;
	font-weight: 400;
	font-size: 1.2rem;
}
.form-control.required {
	border: solid 2px var(--color-font,#707070);
}
.form-control.invalid {
	border: solid 2px #721c24;
}
.form-control {
	border-radius: 0px;
	background-color: var(--color-bg,#fff);
	color: var(--color-font,#484546);
}
.input-group .input-group-text {
	background-color: #2E6FB1;
	color: white;
	border-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.private-policy .control-label {
	display: inline-block !important;
	position: absolute;
	right: 2rem;
	left: auto;
	bottom: 0rem;
}
.private-policy .col-sm-12 {
	padding-bottom: 4rem;
}
.wbc-form .uploader-wrapper .lead {
	padding-left: 3rem;
	padding-right: 3rem;
	font-size: 1rem;
}
.wbc-form fieldset > div.radio-inline .col-12 {
	max-width: 100% !important;
	flex: 0 0 100% !important;
}
.wbc-form fieldset {
	margin-bottom: 2rem;
}
.wbc-form legend {
	color: var(--color-font,#707070);
}
.contact-form .form-inline label {
	justify-content: left;
}
#kontakt0_jtf_important_notices {
	position: absolute;
	left: -333333px;
}
.contact-form #kontakt0_jtf_captcha_math {
	width: 200px;
}
.privacy_policy {
	width: 70%;
}
#kontakt0_captcha,
#jform_captcha {
	max-width: 250px;
	width: 250px;
}
#kontakt0_captcha,
#jform_captcha {
	max-width: 250px;
	width: 250px;
}
.registration .form-group label,
.registration .form-group input,
.registration .form-group textarea,
.profile-edit .form-group label,
.profile-edit .form-group input,
.profile-edit .form-group textarea {
	display: block;
}
.registration .form-group input[type='text'],
.registration .form-group input[type='email'],
.registration .form-group input[type='password'],
.registration .form-group input[type='tel'],
.registration .form-group textarea,
.profile-edit .form-group input[type='text'],
.profile-edit .form-group input[type='email'],
.profile-edit .form-group input[type='password'],
.profile-edit .form-group input[type='tel'],
.profile-edit .form-group textarea {
	width: 100%;
	margin-right: 2rem;
}
.optional {
	font-size: 0.8rem;
	color: rgba(56,61,65,0.5);
	float: right;
	line-height: 1rem;
	margin: 0px;
}
.reset input,
.remind input,
.reset-complete input,
.reset-confirm input,
.login input {
	min-width: 100%;
}
.form-group #easycalccheckplus {
	background-color: rgba(56,61,65,0.1);
	width: 100%;
	margin: 1rem 0 1rem 0 !important;
}
#easycalccheckplus label {
	margin-top: 1rem;
	margin-left: 1rem;
	display: block;
}
#easycalccheckplus input {
	margin-left: 1rem;
	margin-bottom: 1rem;
	width: 150px;
}
#easycalccheckplus p {
	margin-left: 1rem;
}
@media (min-width: 1200px) {
	.reset input,
	.remind input,
	.reset-complete input,
	.reset-confirm input,
	.login input {
		min-width: 50%;
	}
}
#flexicontent .flexi-field .label {
	font-weight: 500;
	display: inline-block;
}
#flexicontent .flexi-field .value {
	display: inline-block;
}
#flexicontent .catimg {
	float: none;
	text-align: center;
}
#flexicontent .catimg img {
	border: none;
	padding: 0;
	max-width: 100%;
	height: auto;
	border-radius: 0px;
}
#flexicontent .cattitle {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 1.5rem;
}
#flexicontent .fc_item_title,
#flexicontent .fc_item_title a {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	color: var(--color-font,#2E6FB1);
}
.front #flexicontent .fc_item_title,
.front #flexicontent .fc_item_title a {
	font-family: 'Bebas Neue', Arial, sans-serif;
	font-style: inherit;
	font-weight: inherit;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 400;
	color: #5e626a;
}
.front #flexicontent .background-primary,
.front #flexicontent .background-secondary {
	background-color: transparent;
}
#flexicontent .background-primary,
#flexicontent .background-secondary {
	background-color: var(--color-side,rgba(255,255,255,0.6));
}
.select2-container .select2-choice {
	height: 36px;
	line-height: 36px;
	border-radius: 0px;
}
.select2-container .select2-choice .select2-arrow {
	border-radius: 0px;
}
.select2-container .select2-choice {
	background-image: none;
}
.fc_field_filter label,
.flexicontent .fc_field_filter {
	font-size: inherit;
}
fieldset.fc_search_set,
fieldset.fc_filter_set {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#fc_filter_form_blocker {
	position: absolute;
	left: -99999;
	height: 0px;
	overflow: hidden;
}
#flexicontent .lineinfo {
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
}
hr.fcclearline {
	border: 0;
	height: 0px;
	background-image: transparent;
	margin: 0;
}
.flexi-itemlist .panel {
	padding: 1em;
}
#flexicontent .fc_block {
	margin-bottom: 5px;
}
#flexicontent .item_total {
	border: none;
	padding-left: 0px;
	padding-right: 0px;
}
#flexicontent .item_total .fc_limit_box,
#flexicontent .item_total .fc_orderby_box,
#flexicontent .item_total .fc_clayout_box {
	margin-left: 0px;
}
#flexicontent .images,
#flexicontent .value_wk_galerie {
	display: flex !important;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
#flexicontent .images .wbc-image-field,
#flexicontent .value_wk_galerie .wbc-image-field {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	width: 100%;
	padding-right: 20px;
	padding-bottom: 20px;
}
#flexicontent .fc_image_thumb {
	float: none;
	display: inline-block;
}
#flexicontent img.fc_field_image {
	display: block;
	padding: 0px;
	border: 0px;
	border-radius: 0px;
	width: auto !important;
	float: none;
	clear: both;
}
#flexicontent .fc_img_tooltip_data {
	background-color: transparent !important;
	color: #484546 !important;
	border: none !important;
	font-size: 0.9rem;
	display: inline-block;
	text-align: center;
	padding: 0px;
	clear: both;
}
#flexicontent .fc_img_tooltip_title {
	font-weight: 500 !important;
	line-height: 1.2rem !important;
}
#fc_alpha {
	clear: both;
	float: left;
	margin: 12px 0 12px 0;
	overflow: hidden;
	width: 100%;
}
#fc_alpha .aichargrp {
	clear: both;
	float: left;
	left: 50%;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#fc_alpha .fc_alpha_index {
	float: left;
	margin-right: 2px;
	padding: 6px;
	position: relative;
	right: 50%;
	text-decoration: none;
	background-color: var(--color-grau1,#efefef);
}
#fc_alpha .fc_alpha_index_sep {
	background: none;
	border: 0px;
	border-radius: 0px;
	float: left;
	margin-right: 0px;
	padding: 1px 0px;
	position: relative;
	right: 50%;
	text-decoration: none;
}
#fc_alpha .fc_alpha_index.current {
	margin-left: 12px;
	margin-right: 12px;
	color: darkred;
}
.fc_filter_html {
	display: flex;
	flex-wrap: wrap;
}
.fc_filter_html .input-append,
.fc_filter_html .input-prepend {
	display: flex;
}
#flexicontent .fc_filter_box input,
#flexicontent .fc_filter_box select,
#flexicontent .fc_orderby_selector select,
#flexicontent .fc_limit_selector select {
	display: block;
	width: 100%;
	height: 2.25rem;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #484546;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #DDDDDD;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#flexicontent .fc_filter_box input:focus,
#flexicontent .fc_filter_box select:focus,
#flexicontent .fc_orderby_selector select:focus,
#flexicontent .fc_limit_selector select:focus {
	background-color: #fff;
	border-color: rgba(56,61,65,0.3);
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255,0.25);
}
#flexicontent aside .pagination {
	display: none;
}
#flexicontent .fc_pages_counter {
	display: block;
	text-align: center;
}
#flexicontent .fc_pages_counter > .label {
	font-size: 12px;
	font-weight: 400 !important;
}
body .fc-nowrap-box,
#flexicontent .nowrap_box,
.flexicontent .nowrap_box {
	display: block;
}
.adminbuttons,
.admin-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
}
.adminbuttons a.btn:link,
.adminbuttons a.btn:visited,
.admin-button a.btn:link,
.admin-button a.btn:visited {
	padding: 3px 10px !important;
	display: inline-block;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	border-radius: 40px;
	font-size: 0.9rem;
	font-weight: 400 !important;
	margin-right: 10px;
}
fieldset.fc_search_set,
fieldset.fc_filter_set {
	border: none;
}
.fcsearch .fc_search_set legend {
	display: none;
}
.flexicontent.fcsearch table.fc_search_tbl .fc_search_row_0 td {
	background-color: rgba(56,61,65,0.1);
}
.flexicontent.fcsearch table.fc_search_tbl .fc_search_option_cell {
	padding: 1.5rem;
}
.flexicontent .input-append .button_go {
	margin-left: -4px;
}
.fc_search_result_title {
	text-transform: none;
	font-size: 1.2rem;
	line-height: 1.4rem;
	font-weight: 400;
}
.fc_search_results_list  .fcfile_viewFile {
	display: none;
}
body .fc-mssg-inline.fc-info,
body .fc-mssg.fc-info {
	background-color: rgba(56,61,65,0.2);
	border-color: rgba(56,61,65,0.5);
	border-left-color: rgba(56,61,65,0.5);
	border-left: 10px solid rgba(56,61,65,0.2);
}
.fc_search_result_text {
	font-size: 1rem;
	line-height: 1.7rem;
	font-weight: inherit;
	margin-top: 1rem;
}
.flexicontent.fcsearch .highlight {
	background: none repeat scroll 0 0 rgba(56,61,65,0.2);
	border-radius: 5px;
	color: #707070;
	font-weight: normal;
	padding: 3px 5px;
}
.flexicontent.fcsearch fieldset.fc_search_result:hover {
	border: 2px dotted #707070;
}
#flexicontent .fceven {
	background-color: rgba(56,61,65,0.1);
}
#flexicontent .fcodd {
	background-color: #FFFFFF;
}
.fcitem_text {
	color: var(--color-font,#484546);
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 300;
}
.fcitem_readon a:link,
.fcitem_readon a:visited {
	color: var(--color-font,#484546);
	background-color: transparent;
	padding: 5px;
	border: solid 2px var(--color-font,#4497d6);
	border-radius: 20px;
}
.fcitem_readon a:hover,
.fcitem_readon a:focus {
	color: white;
	background-color: #707070;
	border: solid 1px #707070;
	text-decoration: none;
}
.flexicontent-galerie {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.flexicontent-galerie .uk-panel h3,
.flexicontent-galerie .uk-panel h2,
.flexicontent-galerie .uk-panel h4 {
	font-size: 1.2rem;
	font-weight: 500;
}
.flexicontent-galerie .uk-panel p {
	font-weight: 1rem;
	line-height: 1.3rem;
}
.flexicontent-galerie .uk-panel-teaser {
	margin-bottom: 5px;
}
div.fc-fieldgrp-value-box {
	border: none;
	padding: 0px;
	margin: 2rem 0px 0px 0px;
}
#flexicontent .label {
	font-weight: 500;
	margin: 0 0.5rem 0 0;
	display: inline-block;
	width: auto;
	max-width: 100%;
}
.field_funktion1,
.flexi-name,
.field_fachbereich_1 {
	font-weight: 500;
}
.flexi {
	clear: both;
}
.field_prename_1,
.field_name_1,
.field_prename_2,
.field_name_2,
.field_name1,
.field_prename1 {
	padding-right: 5px !important;
	float: left;
	clear: none !important;
	width: auto !important;
	display: inline-block;
	font-weight: 500;
}
.flexi-name div {
	font-weight: 500 !important;
}
.field_plz,
.field_ort,
.field_plz_1,
.field_ort_1,
.field_ort_3,
.field_ortsteil_auswahl,
.field_plz_2,
.field_ortsteil_auswahl2,
.field_ortsteil_auswahl1,
.field_ortsteil_auswahl_einrichtung,
.field_ortsteil_auswahl_ansprechpartner,
.field_ortsteil_buergerhaus,
.field_stadtteil {
	width: auto !important;
	display: inline-block !important;
	margin-right: 5px !important;
}
.field_ortsteil_auswahl1 {
	margin-left: -10px;
}
.value_plz,
.value_ort,
.value_plz_1,
.value_ort_1,
.value_plz_2,
.value_ort_2,
.value_ort_3,
.value_ortsteil_auswahl,
.value_ortsteil_auswahl2,
.value_ortsteil_auswahl1,
.value_stadtteil,
.value_ortsteil_auswahl_ansprechpartner,
.value_ortsteil_buergerhaus,
.value_name2,
.value_prename2,
.value_name1,
.value_prename1 {
	float: left !important;
	display: inline !important;
	width: auto !important;
}
.value_ort,
.value_ort_2,
.value_ort_1,
.value_ort_3,
.value_ortsteil_auswahl,
.value_ortsteil_auswahl1,
.value_ortsteil_auswahl2,
.value_ortsteil_auswahl_ansprechpartner,
.value_stadtteil {
	margin-left: 5px;
}
.field_plz,
.field_plz_2,
.field_plz_1 {
	clear: left;
}
.field_pfarrer_1 .value,
.field_funktion_1 .value,
.field_funktion_1b .value,
.field_name_1 .value,
.field_prename_1 .value,
.field_prename_2 .value,
.field_name_2 .value,
.field_praxisbezeichnung_1 .value,
.field_namekita1 .value {
	font-weight: 500 !important;
}
.field_downloads_1 {
	display: flex;
	flex-direction: column;
}
.field_downloads_1 .download-line {
	display: flex;
	align-items: center;
	width: 100%;
}
.fcfile_actions span.fcfile_mime,
.fcfile_actions span.fcfile_title,
.fcfile_actions span.fcfile_size {
	display: inline-block;
	padding-right: 0.5rem;
}
.fcfile_actions {
	display: flex;
}
.fcfile_actions > a {
	width: auto !important;
	padding-right: 1rem;
}
.fcfile_actions br {
	display: none;
}
.fcfile_actions .fc_button {
	background-color: rgba(56,61,65,0.2) !important;
	color: rgba(56,61,65,0.8) !important;
	font-size: 0.9rem;
}
.fcfile_actions .fc_button:hover {
	background-color: #707070 !important;
	color: #FFF !important;
	text-decoration: none;
}
a.fcfile_downloadFile {
	display: inline-block;
	margin-right: 5px;
}
a.fcfile_viewFile {
	display: inline-block;
	white-space: nowrap;
	margin-right: 5px;
}
a.fcfile_shareFile {
	display: inline-block;
	white-space: nowrap;
	margin-right: 5px;
}
a.fcfile_viewFile,
a.fcfile_shareFile {
	font-size: 0.9rem;
	white-space: nowrap;
	text-align: right;
	padding: 3px 8px;
	border-radius: 0px;
	color: rgba(56,61,65,0.5) !important;
	background-color: transparent;
	border: 1px solid rgba(56,61,65,0.5);
}
a.fcfile_viewFile:hover,
a.fcfile_shareFile:hover,
a.fcfile_viewFile:focus,
a.fcfile_shareFile:focus {
	text-decoration: none;
	background-color: rgba(56,61,65,0.2);
	color: rgba(56,61,65,0.8) !important;
}
.fcfile_downloadFile:after {
	content: "\f019";
	padding-left: 5px;
	font-family: 'FontAwesome';
}
.fcfile_viewFile:after {
	content: "\f06e";
	padding-left: 5px;
	font-family: 'FontAwesome';
}
.fcfile_shareFile:after {
	content: "\f045";
	padding-left: 5px;
	font-family: 'FontAwesome';
}
.fcfile_descr_inline.alert {
	background-color: transparent !important;
	border: none !important;
	color: #484546 !important;
	padding: 0px !important;
}
.wbc-tabs {
	margin: 2rem 0 3rem 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 200px;
}
.wbc-tabs .nav-tabs {
	border: none;
}
.wbc-tabs  li > .nav-link:link,
.wbc-tabs  li > .nav-link:visited {
	color: rgba(56,61,65,0.8);
	border-radius: 0px;
	background-color: #FFFFFF;
	font-weight: 500;
	font-size: 0.9rem;
	border: solid 1px rgba(56,61,65,0.1);
}
.wbc-tabs  li {
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
}
.wbc-tabs  li > .nav-link:focus,
.wbc-tabs  li > .nav-link:hover,
.wbc-tabs  li > .nav-link.active:focus,
.wbc-tabs  li > .nav-link.active:hover {
	background-color: #1269B0;
	border-color: #1269B0;
	color: white;
}
.wbc-tabs  li > .nav-link.active {
	background-color: #1269B0;
	border-color: #1269B0;
	color: white;
}
.wbc-tabs .tab-content {
	min-height: 10rem;
	padding-left: 0px;
	padding-right: 0px;
}
@media (max-width: 415px) {
	.wbc-tabs .nav-item {
		display: block;
		width: 100%;
	}
	.wbc-tabs .nav-item .wbc-tabs  .nav-link {
		padding: .3rem .5rem;
	}
}
.field_wk_galerie .overlay {
	height: 0px;
	overflow: hidden;
}
@media (max-width: 769px) {
	#flexicontent .fc_search_label_cell {
		display: none;
	}
	#flexicontent .fc_filter_buttons_box {
		width: 100%;
	}
	#flexicontent .fc_filter_buttons_box .fc_filter_buttons_box .btn {
		margin-bottom: 5px;
		font-size: 0.9rem;
		padding: 0.3rem 0.3rem;
		float: left;
		margin-right: 10px;
	}
}
@media (min-width: 768px) {
	#flexicontent .catimg {
		float: left;
		text-align: left;
	}
	#flexicontent aside .item_total {
		float: right;
	}
	#flexicontent aside .pagination {
		display: flex;
		float: right;
		margin-right: 2rem;
		margin-top: 0px !important;
	}
	#flexicontent .fc_filter_box input,
	#flexicontent .fc_filter_box select,
	#flexicontent .fc_orderby_selector select,
	#flexicontent .fc_limit_selector select {
		width: auto;
	}
	body .fc-nowrap-box,
	#flexicontent .nowrap_box,
	.flexicontent .nowrap_box {
		display: inline-block;
	}
	#flexicontent .images,
	#flexicontent .field_wk_galerie {
		justify-content: left;
	}
	#flexicontent .images .wbc-image-field,
	#flexicontent .value_wk_galerie .wbc-image-field {
		-ms-flex-preferred-size: 0;
		flex-basis: 33%;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
}
.front #flexicontent .introblock > div#fc_bloglist_item_1 {
	background-image: url(../images/grafiken/welle-grau.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 80%;
}
.mod-aktuelles .card-columns {
	column-count: 2;
}
.mod-aktuelles .card-columns .card {
	border-radius: 0;
	border: none;
}
.mod-aktuelles .card-columns .card h3 > a {
	color: inherit;
}
.mod-aktuelles .card-columns .card .fcitem_date {
	font-size: 0.9rem;
	color: var(--color-mute,#707070);
}
.mod-aktuelles .card-columns .card .fc_readmore {
	margin-top: auto;
	text-align: right;
}
.mod-aktuelles .card-columns .card .fc_readmore .fcitem_readon {
	display: block;
	margin-top: 30px;
}
@media (max-width: 1024px) {
	.mod-aktuelles .card-columns {
		column-count: 1;
	}
}
.mod-aktuelles .mod_flexicontent_standard {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
	grid-gap: 20px;
}
.mod-aktuelles .mod_flexicontent_standard > div {
	background-color: #fff;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
}
.mod-aktuelles .mod_flexicontent_standard > div .fc_readmore {
	margin-top: auto;
	text-align: right;
}
.mod-aktuelles .mod_flexicontent_standard > div .fc_readmore .fcitem_readon {
	display: block;
	margin-top: 30px;
}
.mod-aktuelles .mod_flexicontent_standard > div .image_standard {
	margin-bottom: 20px;
}
.mod-aktuelles .mod_flexicontent_standard > div .fcitem_date {
	font-size: 0.9rem;
	color: #707070;
}
.mod-aktuelles .mod_flexicontent_standard > div h3 > a {
	color: inherit;
}
.module_readon {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.module_readon a.readon {
	color: var(--color-bg,#fff);
	background-color: var(--color-font,#2E6FB1);
	font-size: 1.1rem;
	padding: 10px 15px;
	border-radius: 20px;
}
table.adminlist tbody tr.row0 td h4,
table.adminlist tbody tr.row1 td h4 {
	color: var(--color-bg,#2e6fb1);
}
table.adminlist tbody tr.row0:hover,
table.adminlist tbody tr.row1:hover,
table.adminlist tbody tr.row0:hover h4,
table.adminlist tbody tr.row1:hover h4 {
	color: var(--color-font,#555);
}
@media (min-width: 1024px) {
	.front #flexicontent .fc_item_title,
	.front #flexicontent .fc_item_title a {
		font-size: 3rem;
	}
}
.btn-success {
	color: white;
	background-color: #1FA22E;
	border-color: #1FA22E;
}
.btn-success:hover,
.btn-success:focus {
	color: white;
	background-color: #1FA22E;
	border-color: #1FA22E;
}
.btn-success.focus,
.btn-success:focus {
	box-shadow: 0 0 0 .2rem rgba(126,157,6,0.5);
}
.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light {
	border-radius: 0px;
}
.input-append .btn-primary,
.input-append .btn-secondary,
.input-append .btn-success,
.input-append .btn-danger,
.input-append .btn-warning,
.input-append .btn-info,
.input-append .btn-outline-primary,
.input-append .btn-outline-secondary,
.input-append .btn-outline-success,
.input-append .btn-outline-danger,
.input-append .btn-outline-warning,
.input-append .btn-outline-info,
.input-append .btn-outline-light {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.readmore a.btn,
.readmode a {
	color: var(--color-font,#707070);
	background-color: transparent;
	border: solid 2px var(--color-font,#383d41);
	border-radius: 20px;
}
.readmore a.btn:hover,
.readmode a:hover,
.readmore a.btn:focus,
.readmode a:focus {
	color: white;
	background-color: #707070;
	border: solid 1px #707070;
	text-decoration: none;
}
#bookmark {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#bookmark .btn:first-child {
	margin-left: 0px;
}
#bookmark .btn > i {
	margin-right: 0.5rem;
}
#bookmark .fc_printbutton,
#bookmark .fc_feedbutton {
	border: 1px solid var(--color-font,#2E6FB1);
	border-radius: 20px;
	padding: 10px 20px;
	margin: .5rem;
}
#bookmark .fc_printbutton i,
#bookmark .fc_feedbutton i {
	margin-right: 10px;
}
#bookmark .fc_printbutton:hover,
#bookmark .fc_feedbutton:hover {
	color: #fff;
	background-color: #707070;
	border: 1px solid #707070;
}
#flexicontent div .btn-group > :not(:first-of-type),
#flexicontent div .btn-group > :not(:first-child):not(label) {
	margin-left: -5px;
}
#flexicontent .buttons {
	margin-bottom: 2rem;
}
#flexicontent .btn[class^="btn-outline-"],
#flexicontent .btn[class*=" btn-outline-"] {
	color: var(--color-bg,#fff);
}
#flexicontent .btn[class^="btn-outline-"]:not(:last-child),
#flexicontent .btn[class*=" btn-outline-"]:not(:last-child) {
	margin-right: 5px;
}
#flexicontent .btn[class^="btn-outline-"] a,
#flexicontent .btn[class*=" btn-outline-"] a {
	color: var(--color-bg,#fff);
}
@media (min-width: 1400px) {
	.container {
		max-width: 1360px;
	}
}
@media (min-width: 1700px) {
	.container {
		max-width: 1400px;
	}
}
@media print {
	.row {
		display: block;
	}
	header,
	footer {
		display: none;
	}
	html,
	body {
		overflow-x: visible !important;
		height: 100%;
	}
	body,
	.container {
		background: #fff !important;
		font-size: 12pt;
		font-family: "Cambria", "Georgia", "Times New Roman", serif;
		font-color: #000000;
		min-height: 0cm;
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		text-align: justify;
		quotes: "\201E" "\201C" "\201A" "\2018";
	}
	@page {
		margin: 2cm;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	li {
		color: #000000;
		font-family: "Corbel", "Lucida Grande", "Arial", serif;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
	}
	p,
	address,
	li,
	dt,
	dd {
		font-size: 100%;
	}
	code,
	pre {
		font-family: "Courier New", Courier, mono;
	}
	ul,
	ol {
		list-style: square;
		margin-left: 18pt;
	}
	li {
		line-height: 1.6em;
	}
	a:link,
	a:visited {
		background: transparent;
		color: #707070;
		font-weight: bold;
		text-decoration: underline;
	}
	a[href]:after {
		content: " <" attr(href) ">";
		background-color: inherit;
		color: #4497d6;
		font-style: italic;
	}
	abbr[title]:after,
	acronym[title]:after {
		content: '(' attr(title) ')';
		background-color: inherit;
		color: #2E6FB1;
		font-style: italic;
	}
	q:before,
	blockquote:before {
		content: open-quote;
	}
	q:after,
	blockquote:after {
		content: close-quote;
	}
	div.form h1 {
		margin-top: 0cm;
		margin-bottom: 1.5cm;
	}
	div.form legend {
		font-size: 20pt;
		padding-left: 0cm;
		color: #000000;
		height: auto;
		margin-top: 0cm;
		margin-bottom: 1cm;
	}
	div.form .row {
		page-break-after: avoid;
		page-break-before: avoid;
	}
	div.form {
		margin-top: 0cm;
	}
	.alert {
		padding: 0cm;
		margin-bottom: 1cm;
		border: none;
		border-radius: none;
	}
	.clear-both {
		float: none;
		clear: both;
		width: 100%;
		height: 1.5cm;
		display: block;
	}
}
