:root {
	--color-bg: #000;
	--color-font: #fff;
	--color-mute: #c8c8c8;
	--color-grau1: #3c3c3c;
	--color-side: rgba(255,255,255,0.3);
	--color-contrast: #168f3b;
}
.card .btn:hover {
	text-decoration: underline;
}
